<% content_for :page_title do %><%= t('.sign_up', :default => "Sign up") %><% end %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <h2><%= t('.your_info') %></h2>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :infix %>
    <%= f.text_field :infix %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <h2><%= Organisation.model_name.human %></h2>
  <%= f.fields_for :organisations do |organisations| %>
    <%= render partial: 'organisations/form_fields', locals: {f: organisations} %>
  <% end %>
  <div class="actions">
    <%= f.submit t('.sign_up', :default => "Sign up") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
