<% content_for :page_title do %><%= index_title(OrganisationUser) %><% end %>

<% if @organisation_users.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: OrganisationUser.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<%= paginate @organisation_users %>
<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= OrganisationUser.human_attribute_name(:organisation_role) %></th>
      <th><%= t('.status') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organisation_users.each do |organisation_user| %>
    <tr>
      <td><%= organisation_user.instance_name %></td>
      <td><%= mail_to(organisation_user.user.email) %></td>
      <td><%= organisation_user.organisation_role.name %></td>
      <td><%= status_actions_for_user(organisation_user) %></td>
      <td class="icons">
        <%= icon_link_to_edit([@organisation, organisation_user]) %>
        <%= icon_link_to_destroy([@organisation, organisation_user]) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @organisation_users %>
<% end %>

<%= button_link_to_new([@organisation, OrganisationUser]) %>