<% content_for :page_title do %>
  <%= t('devise.invitations.new.header') %>
<% end %>

<%= form_for(@user, url: { action: 'send_invitation' }) do |f| %>
  <p><%= t('.intro', email: @user.email) %></p>

  <%= render 'shared/error_messages', target: @user %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, readonly: true %>
  </div>

  <%= f.fields_for :organisation_users do |ouf| %>
  <%= ouf.hidden_field :organisation_id %>
  <div class="field">
    <%= ouf.label :organisation_role %>
    <%= ouf.collection_select :organisation_role_id, OrganisationRole.all.sort, :id, :name, { prompt: t('prompt_choose') }, { readonly: true } %>
  </div>
  <% end %>

<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :infix %>
  <%= f.text_field :infix %>
</div>
<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
  <div class="actions">
    <%= f.submit t("devise.invitations.new.submit_button") %>
  </div>
<% end %>
