<div id="calendar" class="clearfix" data-target-year="<%= @year %>" data-target-week="<%= @week %>" data-target-month="<%= @month %>" data-target-day="<%= @day %>" data-target-entity="<%= @sel_entity %>"></div>

<div id="schedule-templates" style="display: none;">
  <div class="schedule" id="scheduleContainerTemplate">
    <div class="fast-select clearfix">
      <a id="selectNone" class="button"><%=t('.select_none') %></a>
      <a id="selectAll" class="button"><%=t('.select_all') %></a>
    </div>
    <div class="entity-container clearfix">

      <div id="entity-showcase-tabs">
        <ul class="nav">
        </ul>

        <div class="tab-wrap clearfix">
        </div>
      </div>

      <p class="no_entities_found"><%= t('.no_entities_found', link: link_to_new([@organisation, Entity])).html_safe %></p>
    </div>
    <div class="clearfix">
      <div class="control-container navigate">
        <a id="previous" class="button"><i class="icon-chevron-left"></i></a>
        <a id="current" class="button"><%=t('.today') %></a>
        <a id="next" class="button"><i class="icon-chevron-right"></i></a>
        <span style="margin: 0px 10px;"></span>
        <a id="dayMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.day') %></a>
        <a id="weekMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.week') %></a>
        <a id="monthMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.month') %></a>
        <a id="yearMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.year') %></a>
        <a id="customMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.custom') %></a>
      </div>
      <div class="control-container domain">
        <div class="inner">
          <input type="text" id="scheduleBeginDate" style="position: relative; z-index: 100;" autocomplete="off" />
          <span class="tm"><%=t('.tm') %></span>
          <input type="text" id="scheduleEndDate" style="position: relative; z-index: 100;" autocomplete="off" />
          <a class="button" id="scheduleDateUpdate"/><%=t('.set') %></a>
        </div>
      </div>
    </div>
    <div class="top-axis clearfix">
      <div class="ajax-notification-container">
        <div class="ajax-notification">
          <div class="ajax-wait"></div>
          <div class="message"></div>
        </div>
      </div>
      <div class="axis-parts clearfix"></div>
      <div class="reservation-controls">
        <div class="inner clearfix">
          <a href="#" id="description" class="toolbar-button"><i class="icon-info-sign"></i> <%= t('.description') %></a>
          <a href="#" id="client" class="toolbar-button"><i class="icon-user"></i> <%= t('.organisation_client') %></a>
          <a href="#" id="edit" class="toolbar-button"><i class="icon-edit"></i> <%= t('.edit') %></a>
          <a href="#" id="remove" class="toolbar-button"><i class="icon-remove-sign"></i> <%= t('.delete') %></a>
          <a href="#" class="icon-remove toolbar-close-button"></a>
        </div>
      </div>
      <div class="description-bubble"></div>
    </div>
    <div class="left-axis"></div>
    <div class="schedule-body">
      <div class="grid"></div>
    </div>
  </div>

  <div id="gridItemTemplate" class="grid-item"></div>

  <div class="hour-time-axis-frame" id="hourTimeAxisFrameTemplate"><p class="time"></p></div>
  <div class="six-hour-time-axis-frame" id="sixHourTimeAxisFrameTemplate"><p class="time"></p></div>
  <div class="day-time-axis-frame" id="dayTimeAxisFrameTemplate"><p class="name"></p></div>
  <div class="vertical-day-time-axis-frame" id="verticalDayTimeAxisFrameTemplate"><p class="name"></p><p class="date"></p></div>

  <div class="entity-button" id="entityButtonTemplate">
    <img class="entity-icon" />
    <p class="entity-name"></p>
  </div>

  <div class="row" id="rowTemplate">
    <div class="schedule-objects"></div>
  </div>

  <div class="column" id="columnTemplate">
    <div class="schedule-objects"></div>
  </div>

 <div class="left-axis-row" id="dayAxisRowTemplate">
    <div class="inner">
      <div class="day-name"><p></p></div>
      <div class="day-nr"><p></p></div>
      <div class="month-name"><p></p></div>
    </div>
  </div>

  <div class="left-axis-row" id="weekAxisRowTemplate">
    <div class="inner">
      <div class="week-begin"><p></p></div>
      <div class="week-nr"><p></p></div>
      <div class="week-end"><p></p></div>
    </div>
  </div>

  <div class="time-axis-row" id="timeAxisRowTemplate">
    <div class="inner">
      <div class="time"></div>
    </div>
  </div>

  <div class="schedule-item-wrapper" id="scheduleItemTemplate">
    <div class="schedule-item">
      <div class="plus"><span class="icon-ok"></span></div>
      <div class="status"><span>?</span></div>
      <div class="resizer left"><i class="icon-thissideup icon-rotate-270"></i></div>
      <div class="resizer right"><i class="icon-thissideup icon-rotate-90"></i></div>
      <div class="resizer top"><i class="icon-thissideup"></i></div>
      <div class="resizer bottom"><i class="icon-thissideup icon-rotate-180"></i></div>
      <div class="continue-container">
        <div class="continue left"><i class="icon-arrow-right"></i></div>
        <div class="continue right"><i class="icon-arrow-right"></i></div>
        <div class="continue top"><i class="icon-arrow-down"></i></div>
        <div class="continue bottom"><i class="icon-arrow-down"></i></div>
      </div>
      <p class="item-text"></p>
    </div>
  </div>

  <div class="schedule-object-item-parts" id="scheduleEntityItemPartsTemplate">
    <p class="name"></p>
  </div>

  <div class="schedule-plus-one-button" id="plusOneButtonTemplate"><span>+</span></div>
</div>
