<div id="calendar" class="clearfix" data-target-year="<%= @year %>" data-target-week="<%= @week %>" data-target-month="<%= @month %>" data-target-day="<%= @day %>" data-target-entity="<%= @sel_entity %>"></div>

<script type="text/template" id="scheduleContainerTemplate">
  <div class="schedule">
    <div class="fast-select clearfix">
      <a id="selectNone" class="button"><%=t('.select_none') %></a>
      <a id="selectAll" class="button"><%=t('.select_all') %></a>
    </div>
    <div class="entity-container clearfix">

      <div id="entity-showcase-tabs">
        <ul class="nav">
        </ul>

        <div class="tab-wrap clearfix">
        </div>
      </div>

      <p class="no_entities_found"><%= t('.no_entities_found', link: link_to_new([@organisation, Entity])).html_safe %></p>
    </div>
    <div class="top-axis clearfix">
      <div class="ajax-notification-container">
        <div class="ajax-notification">
          <div class="ajax-wait"></div>
          <div class="message"></div>
        </div>
      </div>
      <div class="axis-parts clearfix"></div>
      <div class="description-bubble"></div>
    </div>
    <div class="left-axis"></div>
    <div class="schedule-body">
      <div class="grid"></div>
    </div>
  </div>
</script>

<script type="text/template" id="gridItemTemplate">
  <div class="grid-item"></div>
</script>

<script type="text/template" id="hourTimeAxisFrameTemplate">
  <div class="hour-time-axis-frame"><p class="time"></p></div>
</script>

<script type="text/template" id="sixHourTimeAxisFrameTemplate">
  <div class="six-hour-time-axis-frame"><p class="time"></p></div>
</script>

<script type="text/template" id="dayTimeAxisFrameTemplate">
  <div class="day-time-axis-frame"><p class="name"></p></div>
</script>

<script type="text/template" id="verticalDayTimeAxisFrameTemplate">
  <div class="vertical-day-time-axis-frame"><p class="name"></p><p class="date"></p></div>
</script>

<script type="text/template" id="entityButtonTemplate">
  <div class="entity-button">
    <img class="entity-icon" />
    <p class="entity-name"></p>
  </div>
</script>

<script type="text/template" id="rowTemplate">
  <div class="row">
    <div class="schedule-objects"></div>
  </div>
</script>

<script type="text/template" id="columnTemplate">
  <div class="column">
    <div class="schedule-objects"></div>
  </div>
</script>

<script type="text/template" id="dayAxisRowTemplate">
 <div class="left-axis-row">
    <div class="inner">
      <div class="day-name"><p></p></div>
      <div class="day-nr"><p></p></div>
      <div class="month-name"><p></p></div>
    </div>
  </div>
</script>

<script type="text/template" id="weekAxisRowTemplate">
  <div class="left-axis-row">
    <div class="inner">
      <div class="week-begin"><p></p></div>
      <div class="week-nr"><p></p></div>
      <div class="week-end"><p></p></div>
    </div>
  </div>
</script>

<script type="text/template" id="timeAxisRowTemplate">
  <div class="time-axis-row">
    <div class="inner">
      <div class="time"></div>
    </div>
  </div>
</script>

<script type="text/template" id="scheduleItemTemplate">
  <div class="schedule-item-wrapper">
    <div class="schedule-item">
      <div class="plus"><span class="icon-ok"></span></div>
      <div class="status"><span>?</span></div>
      <div class="resizer left"><i class="icon-thissideup icon-rotate-270"></i></div>
      <div class="resizer right"><i class="icon-thissideup icon-rotate-90"></i></div>
      <div class="resizer top"><i class="icon-thissideup"></i></div>
      <div class="resizer bottom"><i class="icon-thissideup icon-rotate-180"></i></div>
      <div class="continue-container">
        <div class="continue left"><i class="icon-arrow-right"></i></div>
        <div class="continue right"><i class="icon-arrow-right"></i></div>
        <div class="continue top"><i class="icon-arrow-down"></i></div>
        <div class="continue bottom"><i class="icon-arrow-down"></i></div>
      </div>
      <p class="item-text"></p>
    </div>
  </div>
</script>

<script type="text/template" id="scheduleEntityItemPartsTemplate">
  <div class="schedule-object-item-parts">
    <p class="name"></p>
  </div>
</script>

<script type="text/template" id="plusOneButtonTemplate">
  <div class="schedule-plus-one-button"><span>+</span></div>
</script>

<script type="text/template" id="contextButtonDescription">
  <i class="icon-info-sign"></i> <%= t('.description') %>
</script>

<script type="text/template" id="contextButtonClient">
  <i class="icon-user"></i> <%= t('.organisation_client') %>
</script>

<script type="text/template" id="contextButtonEdit">
  <i class="icon-edit"></i> <%= t('.edit') %>
</script>

<script type="text/template" id="contextButtonRemove">
  <i class="icon-remove-sign"></i> <%= t('.delete') %>
</script>

<script type="text/template" id="contextButtonSave">
  <i class="icon-edit"></i> <%= t('save') %>
</script>

<script type="text/template" id="contextButtonCancel">
  <i class="icon-remove-sign"></i> <%= t('cancel') %>
</script>
