<% content_for :page_title do %>
<%= t('.horizontal_calendar') %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      var schedule = new IADAscheduleView({container: 'horizontal-calendar', backend_url: '<%= organisation_schedule_view_index_path(@organisation) %>', view: 'horizontalCalendar'});
  });
</script>

<div id="horizontal-calendar" class="clearfix"></div>

<div id="schedule-templates" style="display: none;">
  <div class="schedule" id="scheduleContainerTemplate">
    <div class="entity-container clearfix">
        <h2><%= Entity.model_name.human(count: 2) %></h2>
        <div class="fast-select">
          <a id="selectAll" class="button"><%=t('.select_all') %></a>
          <a id="selectNone" class="button"><%=t('.select_none') %></a>
        </div>
        <p class="no_entities_found"><%= t('.no_entities_found', {link: link_to_new([@organisation, Entity])}).html_safe %></p>
    </div>
    <div class="clearfix">
      <div class="control-container" style="float: right;">
        <input type="text" id="scheduleBeginDate" style="position: relative; z-index: 100;" />
        <span class="tm"><%=t('.tm') %></span>
        <input type="text" id="scheduleEndDate" style="position: relative; z-index: 100;" />
        <input type="hidden" id="backendBeginDate" />
        <input type="hidden" id="backendEndDate" />
        <a class="button" id="scheduleDateUpdate"/><%=t('.set') %></a>
      </div>
      <div class="control-container navigate">
        <a id="previous" class="button"><i class="icon-chevron-left"></i></a>
        <a id="current" class="button"><%=t('.today') %></a>
        <a id="next" class="button"><i class="icon-chevron-right"></i></a>
        <span style="margin: 0px 10px;"></span>
        <a id="dayMode" class="button"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.day') %></a>
        <a id="weekMode" class="button"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.week') %></a>
        <a id="monthMode" class="button"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.month') %></a>
      </div>
    </div>
    <div class="time-axis clearfix"></div>
    <div class="day-axis"></div>
    <div class="schedule-body"></div>
  </div>

  <div class="hour-time-axis-frame" id="hourTimeAxisFrameTemplate"><p class="time"></p></div>

  <div class="entity-button" id="entityButtonTemplate">
    <img class="entity-icon" />
    <p class="entity-name"></p>
  </div>


  <div class="day-row" id="dayRowTemplate">
    <div class="day-row-time-parts"></div>
    <div class="day-row-schedule-objects"></div>
  </div>

  <div class="hour-time-frame" id="hourTimeFrameTemplate"></div>

 <div class="day-axis-row" id="dayAxisRowTemplate">
    <div class="inner">
      <div class="day-name"><p></p></div>
      <div class="day-nr"><p></p></div>
      <div class="month-name"><p></p></div>
    </div>
  </div>

  <div class="schedule-item" id="scheduleItemTemplate">
    <div class="continue left"><i class="icon-arrow-right"></i></div>
    <div class="continue right"><i class="icon-arrow-right"></i></div>
    <p class="item-text"></p>
  </div>
  <div class="day-row-schedule-object-item-parts" id="dayRowScheduleObjectItemPartsTemplate">
    <p class="name"></p>
  </div>
</div>

<a href="#x" class="overlay" id="new_reservation"></a>
<div class="popup" id="new_reservation_popup">
  <%= render 'reservations/form' %>
  <a class="close" href="#close"></a>
</div>

<div class="actions">
  <%= button_link_to_new([@organisation, Reservation], {location: '#new_reservation', css_class: 'button new-reservation'}) %>
</div>