<% content_for :page_title do %>
<%= t('.schedule_view') %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      var schedule = new IADAscheduleView({container: 'schedule-container', backend_url: '<%= organisation_schedule_view_index_path(@organisation) %>'});
  });
</script>
<div id="schedule-container" class="clearfix"></div>

<div id="schedule-templates" style="display: none;">
  <div class="schedule" id="scheduleContainerTemplate">
    <div class="entityContainer clearfix">
    </div>
    <div class="controlContainer clearfix">
      <input type="text" id="scheduleBeginDate" style="position: relative; z-index: 100;" />
      <input type="text" id="scheduleEndDate" style="position: relative; z-index: 100;" />
      <input type="hidden" id="backendBeginDate" />
      <input type="hidden" id="backendEndDate" />
      <a class="button" id="scheduleDateUpdate"/><%=t('.set') %></a>
    </div>
    <div class="time-axis clearfix"></div>
    <div class="day-axis"></div>
    <div class="schedule-body"></div>
  </div>

  <div class="hour-time-axis-frame" id="hourTimeAxisFrameTemplate"><p class="time"></p></div>

  <div class="entity-button" id="entityButtonTemplate">
    <img class="entity-icon" />
    <p class="entity-name"></p>
  </div>


  <div class="day-row" id="dayRowTemplate">
    <div class="day-row-time-parts"></div>
    <div class="day-row-schedule-objects"></div>
  </div>

  <div class="hour-time-frame" id="hourTimeFrameTemplate"></div>

 <div class="day-axis-row" id="dayAxisRowTemplate">
    <div class="inner">
      <div class="day-name"><p></p></div>
      <div class="day-nr"><p></p></div>
      <div class="month-name"><p></p></div>
    </div>
  </div>

  <div class="schedule-item" id="scheduleItemTemplate">
    <div class="continue left"><i class="icon-arrow-right"></i></div>
    <div class="continue right"><i class="icon-arrow-right"></i></div>
    <p class="item-text"></p>
  </div>
  <div class="day-row-schedule-object-item-parts" id="dayRowScheduleObjectItemPartsTemplate">
    <p class="name"></p>
  </div>
</div>

<a href="#x" class="overlay" id="new_reservation"></a>
<div class="popup" id="new_reservation_popup">
  <%= render 'reservations/form' %>
  <a class="close" href="#close"></a>
</div>

<a href="#new_reservation"><%= t('.new_reservation') %></a>