<% content_for :page_title do %><%= @title %><% end %>

<% content_for :local_menu_navigation do %>
  <%= button_link_to_new([@organisation, Reservation], {location: nil, class: 'button new-reservation', id: 'open-new-reservation-modal-button'}) %>
  <div class="control-container navigation">
    <a id="previous" class="button"><i class="icon-chevron-left"></i></a>
    <a id="current" class="button"><%=t('.today') %></a>
    <a id="next" class="button"><i class="icon-chevron-right"></i></a>
  </div>
<% end %>

<% content_for :local_menu_page do %>
  <div class="control-container domain">
    <a id="dayMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.day') %></a>
    <a id="weekMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.week') %></a>
    <a id="monthMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.month') %></a>
    <a id="yearMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.year') %></a>
    <a id="customMode" class="button scope"><i class="icon-calendar" style="margin-right: 5px;"></i><%=t('.custom') %></a>
  </div>
  <div class="control-container domain-custom">
    <input type="text" id="scheduleBeginDate" style="position: relative; z-index: 100;" autocomplete="off" />
    <span class="tm"><%=t('.tm') %></span>
    <input type="text" id="scheduleEndDate" style="position: relative; z-index: 100;" autocomplete="off" />
    <a class="button" id="scheduleDateUpdate"><%=t('.set') %></a>
  </div>
<% end %>

<%= render partial: 'schedule_view/template' %>

<%= content_tag(:div, nil, { id: 'reservation-form-modal-blueprint', data: { blueprint: render('reservations/modal_form').to_str }}) %>
