<% content_for :page_title do %>
<%= t('.today_and_tomorrow') %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      var schedule = new IADAscheduleView({container: 'today-and-tomorrow-container', backend_url: '<%= organisation_schedule_view_index_path(@organisation) %>', view: 'todayAndTomorrow'});
  });
</script>
<div id="today-and-tomorrow-container" class="clearfix today-and-tomorrow-container">
  <% if @entity_types.empty? %>
  <p><%= t('.empty', default: :empty_objects, classes: EntityType.model_name.human(count: 2).lcfirst) %></p>
  <% else %>
    <% if @entity_types.count == 1 %>
      <%= render partial: 'schedule_view/today_and_tomorrow/entity_block', collection: @entity_types.first.entities, as: :entity %>
    <% else %>
      <%= render partial: 'schedule_view/today_and_tomorrow/entity_type_block', collection: @entity_types, as: :entity_type %>
    <% end %>
  <% end %>
</div>
<div id="schedule-templates" style="display: none;">
  <p id="reservationLineTemplate" class="reservation-line"><span class="time">88:88 - 88:88</span><span class="description">Text</span></p>
  <p id="noReservationsTemplate" class="no-reservations"><%= t('.no_reservations') %></p>

  <div id="currentReservationTemplate" class="reservation-now">
    <p class="reservation-description">Text</p>
    <div class="time-info">
      <div class="begin-time">88:88</div>
      <div class="end-time">88:88</div>
    </div>
    <div class="progress-bar red stripes">
      <span style="width: 40%"></span>
    </div>
    <div class="date-info">
      <div class="begin-date">00-00-0000</div>
      <div class="end-date">00-00-0000</div>
    </div>
  </div>

  <h4 id="tomorrowLineTemplate"><%= t('.tomorrow')%></h4>
  <div id="nextReservationsTemplate" class="reservation-next"></div>

</div>