<% content_for :page_title do %>
<%= t('.today_and_tomorrow') %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      var schedule = new IADAscheduleView({container: 'today-and-tomorrow-container', backend_url: '<%= organisation_schedule_view_index_path(@organisation) %>', view: 'todayAndTomorrow'});
  });
</script>
<div id="today-and-tomorrow-container" class="clearfix today-and-tomorrow-container">
  <% if @entity_types.empty? %>
  <p><%= t('.empty', default: :empty_objects, classes: EntityType.model_name.human(count: 2).lcfirst) %></p>
  <% else %>
    <% if @entity_types.count == 1 %>
      <%= render partial: 'schedule_view/today_and_tomorrow/entity_block', collection: @entity_types.first.entities, as: :entity %>
    <% else %>
      <%= render partial: 'schedule_view/today_and_tomorrow/entity_type_block', collection: @entity_types, as: :entity_type %>
    <% end %>
  <% end %>
</div>