<% content_for :page_title do %><%= t('.title') %><% end %>

<% if @results.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: t('.results')) %></p>
<% else %>
<h2>WE HEBBEN RESULATEN ENZO!!!! \o/</h2>

<div id="results">
  <%= render partial: 'result', collection: @results %>
</div>

<hr />

<p>
  <%= page_entries_info(@raw_results, entry_name: t('.item')) %>
  <%= paginate(@raw_results) %>
</p>
<% end %>
