<div class="field">
  <%= f.label :business_client %>
  <%= f.check_box :business_client %>
</div>
<div class="field private-client">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div class="field private-client">
  <%= f.label :infix %>
  <%= f.text_field :infix %>
</div>
<div class="field private-client">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div class="field business-client">
  <%= f.label :company_name %>
  <%= f.text_field :company_name %>
</div>
