<%= form_for([@organisation, @organisation_client]) do |f| %>
  <%= render 'shared/error_messages', target: @organisation_client %>

  <div id="tabs">
  <ul class="nav">
    <li><a href="#general" class="current"><%= t('.general') %></a></li>
  </ul>

  <div class="tab-wrap">
    <div id="general">
      <div class="content-columns clearfix">
        <div class="content-column">
          <div class="content-block">
            tags
          </div>
        </div>
      </div>
      <%= render 'form_fields', f: f %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
