<div class="field">
  <%= f.label :iban %>
  <%= f.text_field :iban %>
</div>
<div class="field">
  <%= f.label :iban_att %>
  <%= f.text_field :iban_att %>
</div>
<div class="field business-client">
  <%= f.label :tex_number %>
  <%= f.text_field :tax_number %>
</div>
