<% content_for :page_title do %><%= index_title(OrganisationClient) %><% end %>

<% content_for :mini_search do %>
  <%= render 'layouts/mini_search', current_search_type: OrganisationClient.model_name %>
<% end %>

<% if @organisation_clients.empty? && params[:mini_search].present? %>
<p><%= t('empty_for_search', classes: OrganisationClient.model_name.human(count: 2).lcfirst, search: sanitize(params[:mini_search], :tags=>[])).html_safe %>
<%= link_to(t('remove_search'), organisation_organisation_clients_path(current_organisation)) %></p>
<% elsif @organisation_clients.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: OrganisationClient.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<%= paginate @organisation_clients %>
<table>
  <thead>
    <tr>
      <th></th>
      <%= sortable_table_head(OrganisationClient, :first_name) %>
      <%= sortable_table_head(OrganisationClient, :last_name) %>
      <%= sortable_table_head(OrganisationClient, :email) %>
      <%= sortable_table_head(OrganisationClient, :route) %>
      <%= sortable_table_head(OrganisationClient, :street_number) %>
      <%= sortable_table_head(OrganisationClient, :postal_code) %>
      <%= sortable_table_head(OrganisationClient, :locality) %>
      <%= sortable_table_head(OrganisationClient, :country) %>
      <%= sortable_table_head(OrganisationClient, :phone) %>
      <%= sortable_table_head(OrganisationClient, :mobile_phone) %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organisation_clients.each do |organisation_client| %>
    <tr>
      <td><%= name_link_to_show([@organisation, organisation_client]) %></td>
      <td><%= organisation_client.first_name %></td>
      <td><%= organisation_client.last_name %></td>
      <td><%= organisation_client.email %></td>
      <td><%= organisation_client.route %></td>
      <td><%= organisation_client.street_number %></td>
      <td><%= organisation_client.postal_code %></td>
      <td><%= organisation_client.locality %></td>
      <td><%= organisation_client.country %></td>
      <td><%= organisation_client.phone %></td>
      <td><%= organisation_client.mobile_phone %></td>
      <td class="icons">
        <%= icon_link_to_edit([@organisation, organisation_client]) %>
        <%= icon_link_to_destroy([@organisation, organisation_client]) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @organisation_clients %>
<% end %>

<%= button_link_to_new([@organisation, OrganisationClient]) %>
