<% content_for :page_title do %><%= show_title(@organisation_client) %><% end %>

<% content_for :local_menu_navigation do %>
  <%= button_link_to_index([@organisation, OrganisationClient]) %>
  <%= button_link_to_edit([@organisation, @organisation_client]) %>
  <%= button_link_to_destroy([@organisation, @organisation_client]) %>
<% end %>

<%= render partial: 'stickies/resource_stickies', locals: { resource: @organisation_client } %>

<div id="tabs">
  <ul class="nav">
    <li><a href="#general" class="current"><%= t('.general') %></a></li>
    <li><a href="#upcomming_reservations"><%= t('.upcomming_reservations') %></a></li>
    <li><a href="#past_reservations"><%= t('.past_reservations') %></a></li>
  </ul>

  <div class="tab-wrap">
    <div id="general">
      <div class="content-columns twocol clearfix">
        <div class="content-column">
          <div class="content-block">
            <h2><i class="icon-address"></i><%= t('.address') %></h2>
            <dl>
              <dt><%= OrganisationClient.human_attribute_name(:name) %></dt>
              <dd><%= @organisation_client.full_name %></dd>
              <dt><%= t('.address') %></dt>
              <dd><%= format_address(@organisation_client.route, @organisation_client.street_number, @organisation_client.postal_code, @organisation_client.administrative_area_level_2, @organisation_client.administrative_area_level_1, @organisation_client.locality, @organisation_client.country) %></dd>
              <dt><%= t('.municipality') %></dt>
              <dd><%= @organisation_client.administrative_area_level_2 + ', ' + @organisation_client.administrative_area_level_1 %></dd>
            </dl>
          </div>
        </div>
        <div class="content-column">
          <div class="content-block">
            <h2><i class="icon-phone-call"></i><%= t('.contact') %></h2>
            <dl>
              <dt><%= OrganisationClient.human_attribute_name(:email) %></dt>
              <dd><%= content_tag(:a, @organisation_client.email, href: 'mailto:' + @organisation_client.email) %></dd>
              <dt><%= OrganisationClient.human_attribute_name(:phone) %></dt>
              <dd><%= @organisation_client.phone %></dd>
              <dt><%= OrganisationClient.human_attribute_name(:mobile_phone) %></dt>
              <dd><%= @organisation_client.mobile_phone %></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div id="upcomming_reservations">
      <% if @organisation_client.upcomming_reservations(15).empty? %>
        <%= content_tag(:p, t('.no_upcomming_reservations')) %>
      <% else %>
        <%= render partial: 'reservations/table', locals: { reservations: @organisation_client.upcomming_reservations(15).includes(:reservation_status, :organisation_client, :entity) } %>
      <% end %>
      <%= link_to(t('.all_reservations_of_client', client: @organisation_client.instance_name), organisation_organisation_client_reservations_path(@organisation, @organisation_client)) %>
    </div>
    <div id="past_reservations">
      <% if @organisation_client.past_reservations(15).empty? %>
        <%= content_tag(:p, t('.no_past_reservations')) %>
      <% else %>
        <%= render partial: 'reservations/table', locals: { reservations: @organisation_client.past_reservations(15).includes(:reservation_status, :organisation_client, :entity) } %>
      <% end %>
      <%= link_to(t('.all_reservations_of_client', client: @organisation_client.instance_name), organisation_organisation_client_reservations_path(@organisation, @organisation_client)) %>
    </div>
  </div>
</div>
