<%= render 'shared/error_messages', target: @reservation %>
<div class="multiple-edit-form">
  <div class="field">
    <%= check_box_tag "edit_fields[]", :description, false, class: 'edit_field_checkbox', id: 'edit_fields_description' %>
    <%= f.label :description %>
    <div class="field-with-example-wrapper">
      <%= f.text_field :description %>
      <p><%= t('for_example') + ': ' + t('reservations.form.reservation_description_example') %></p>
    </div>
  </div>
  <div class="field">
    <%= check_box_tag "edit_fields[]", :begins_at_date, false, class: 'edit_field_checkbox', id: 'edit_fields_begins_at_date' %>
    <%= f.label :begins_at_date %>
    <%= f.text_field :begins_at_date, id: 'begins_at_date', class: 'datepicker-field' %>
  </div>
  <div class="field">
    <%= check_box_tag "edit_fields[]", :begins_at_tod, false, class: 'edit_field_checkbox', id: 'edit_fields_begins_at_tod' %>
    <%= f.label :begins_at_tod %>
    <%= f.text_field :begins_at_tod, id: 'begins_at_tod', class: 'timepicker-field' %>
  </div>
  <div class="field">
    <%= check_box_tag "edit_fields[]", :ends_at_date, false, class: 'edit_field_checkbox', id: 'edit_fields_ends_at_date' %>
    <%= f.label :ends_at_date %>
    <%= f.text_field :ends_at_date, id: 'ends_at_date', class: 'datepicker-field' %>
  </div>
  <div class="field">
    <%= check_box_tag "edit_fields[]", :ends_at_tod, false, class: 'edit_field_checkbox', id: 'edit_fields_ends_at_tod' %>
    <%= f.label :ends_at_tod %>
    <%= f.text_field :ends_at_tod, id: 'ends_at_tod', class: 'timepicker-field' %>
  </div>
  <div class="field">
    <%= check_box_tag "edit_fields[]", :entity, false, class: 'edit_field_checkbox', id: 'edit_fields_entity' %>
    <%= f.label :entity %>
    <%= f.collection_select :entity_id, @organisation.entities.sort, :id, :instance_name, prompt: t('prompt_choose') %>
  </div>
  <div class="field">
    <%= check_box_tag "edit_fields[]", :organisation_client, false, class: 'edit_field_checkbox', id: 'edit_fields_organisation_client' %>
    <%= f.label :organisation_client %>
    <%= f.hidden_field :organisation_client_id, id: 'organisation_client_select', class: 'select2', data: {:'prev-selected' => f.object.try(:organisation_client).try(:instance_name) } %>
  </div>
</div>