<% content_for :page_title do %>
<%= index_title(RealTimeFullScreen) %>
<% end %>

<% if @real_time_full_screens.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: RealTimeFullScreen.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= RealTimeFullScreen.human_attribute_name(:name) %></th>
      <th><%= RealTimeFullScreen.human_attribute_name(:public) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @real_time_full_screens.each do |real_time_full_screen| %>
    <tr>
      <td><%= name_link_to_show(real_time_full_screen) %></td>
      <td><%= real_time_full_screen.public %></td>
      <td class="icons">
        <%= icon_link_to_edit(real_time_full_screen) %>
        <%= icon_link_to_destroy(real_time_full_screen) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= button_link_to_new(RealTimeFullScreen) %>