<%= form_for([@organisation, @entity]) do |f| %>
  <%= render 'shared/error_messages', target: @entity %>

  <div class="field">
    <%= f.label :entity_type %>
    <%= f.select :entity_type_id, EntityType.all.sort.map { |et| [et.name, et.id, { title: format_description_title(et) }] }, { prompt: t('prompt_choose') }, { onchange: "this.form.action += '?entity_type_changed=true'; this.form.submit();" }  %>
  </div>
  <% if @entity.entity_type.present? %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="properties">
    <h2><%= Property.model_name.human(count: 2) %></h2>
    <%= f.fields_for :properties do |pf| %>
      <%= render partial: 'property_fields', locals: { f: pf } %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<% end %>