<div class="fields nested-object-wrapper reservation-rule-wrapper" data-valid="<%= f.object.persisted? && f.object.valid? %>">
  <div class="view">
    <div class="horizontal-block extra">
      <dl>
        <dt><%= ReservationRule.human_attribute_name(:period_unit) %></dt>
        <dd data-field="period-unit"><%= f.object.period_unit.try(:human_name) %></dd>
        <dt><%= ReservationRule.human_attribute_name(:period_amount) %></dt>
        <dd data-field="period-amount"><%= f.object.period_amount %></dd>
        <dt><%= ReservationRule.human_attribute_name(:min_periods) %></dt>
        <dd data-field="min-periods"><%= f.object.min_periods %></dd>
        <dt><%= ReservationRule.human_attribute_name(:max_periods) %></dt>
        <dd data-field="max-periods"><%= f.object.max_periods %></dd>
        <dt><%= ReservationRule.human_attribute_name(:price) %></dt>
        <dd data-field="price"><%= f.object.price %></dd>
      </dl>
    </div>
    <div class="actions">
      <%= link_to '', 'javascript:void(0)', class: 'icon icon-edit', title: t('edit_nested_object', class: ReservationRule.model_name.human.lcfirst) %>
      <%= f.link_to_remove '', class: 'icon icon-remove', title: t('remove_nested_object', class: ReservationRule.model_name.human.lcfirst), data: { confirm: t('are_you_sure') } %>
    </div>
  </div>
  <div class="form">
    <div class="horizontal-block extra">
      <div class="field">
        <%= f.label :period_unit_id %>
        <%= f.select :period_unit_id, TimeUnit.common.sort.map { |tu| [tu.human_name, tu.id, { data: { key: tu.key } }] }, { prompt: true }, data: { field: 'period-unit' } %>
      </div>
      <div class="field">
        <%= f.label :period_amount %>
        <%= f.number_field :period_amount, data: { field: 'period-amount' } %>
      </div>
      <div class="field">
        <%= f.label :min_periods %>
        <%= f.number_field :min_periods, data: { field: 'min-periods' } %>
      </div>
      <div class="field">
        <%= f.label :max_periods %>
        <%= f.number_field :max_periods, data: { field: 'max-periods' } %>
      </div>
      <div class="field">
        <%= f.label :price %>
        <%= f.number_field :price, data: { field: 'price' } %>
      </div>
    </div>
    <div class="actions">
      <%= link_to '', 'javascript:void(0)', class: 'icon icon-ok', title: t('done_nested_object', class: ReservationRule.model_name.human.lcfirst) %>
      <%= link_to '', 'javascript:void(0)', class: 'icon icon-remove remove-nested-fields-extra', title: t('remove_nested_object', class: ReservationRule.model_name.human.lcfirst) %>
    </div>
  </div>
</div>