<div class="fields nested-object-wrapper reservation-rule-scope-wrapper" data-valid="<%= f.object.persisted? && f.object.valid? %>">
  <div class="view clearfix">
    <div class="horizontal-block extra">
      <dl>
        <dt><%= ReservationRuleScope.human_attribute_name(:name) %></dt>
        <dd data-field="name"><%= f.object.name %></dd>
        <dt><%= ReservationRuleScope.human_attribute_name(:period_unit) %></dt>
        <dd data-field="repetition-unit"><%= f.object.repetition_unit.try(:human_name) %></dd>
      </dl>
    </div>
    <div class="actions">
      <%= link_to '', 'javascript:void(0)', class: 'icon icon-edit', title: t('edit_nested_object', class: ReservationRuleScope.model_name.human.lcfirst) %>
      <%= f.link_to_remove '', class: 'icon icon-remove', title: t('remove_nested_object', class: ReservationRuleScope.model_name.human.lcfirst), data: { confirm: t('are_you_sure') } %>
    </div>
  </div>
  <div class="form clearfix">
    <div class="horizontal-block extra">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, data: { field: 'name' } %>
      </div>
      <div class="field">
        <%= f.label :repetition_unit_id %>
        <%= f.select :repetition_unit_id, TimeUnit.all.sort.map { |tu| [tu.human_name, tu.id, { data: { key: tu.key } }] }, { prompt: true }, data: { field: 'repetition-unit' } %>
      </div>
    </div>
    <div class="actions">
      <%= link_to '', 'javascript:void(0)', class: 'icon icon-ok', title: t('done_nested_object', class: ReservationRuleScope.model_name.human.lcfirst) %>
      <%= link_to '', 'javascript:void(0)', class: 'icon icon-remove remove-nested-fields-extra', title: t('remove_nested_object', class: ReservationRuleScope.model_name.human.lcfirst) %>
    </div>
  </div>
</div>