<% content_for :page_title do %><%= index_title(Entity) %><% end %>

<% content_for :local_menu_navigation do %>
  <%= button_link_to_new([@organisation, Entity]) %>
<% end %>

<% content_for :local_menu_page do %>
  <%= render 'layouts/mini_search', current_search_type: Entity.model_name %>
<% end %>

<% if @entities.empty? && params[:mini_search].present? %>
<p><%= t('empty_for_search', classes: Entity.model_name.human(count: 2).lcfirst, search: sanitize(params[:mini_search], :tags=>[])).html_safe %>
<%= link_to(t('remove_search'), organisation_entities_path(current_organisation)) %></p>
<% elsif @entities.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: Entity.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<% paginate @entities %>
<table>
  <thead>
    <tr>
      <th style="padding: 5px;"></th>
      <%= sortable_table_head(Entity, :name) %>
      <%= table_head(Entity, :entity_type) %>
      <%= sortable_table_head(Entity, :description) %>
      <%= table_head(Entity, :slack_before) %>
      <%= table_head(Entity, :slack_after) %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
    <tr>
      <td style="padding: 5px; background-color: <%= entity.color %>"></td>
      <td><%= name_link_to_show([@organisation, entity]) %></td>
      <td><%= name_link_to_show([@organisation, entity.entity_type], title: format_description_title(entity.entity_type)) %></td>
      <td><%= format_description(entity.description) %></td>
      <td><%= entity.get_slack_before %> <%= t('.min') %></td>
      <td><%= entity.get_slack_after %> <%= t('.min') %></td>
      <td class="icons">
        <%= icon_link_to_edit([@organisation, entity]) %>
        <%= icon_link_to_destroy([@organisation, entity]) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% paginate @entities %>
<% end %>
