<% content_for :page_title do %>
<%= index_title(Entity) %>
<% end %>

<% if @entities.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: Entity.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= Entity.human_attribute_name(:name) %></th>
      <th><%= Entity.human_attribute_name(:entity_type) %></th>
      <th><%= Entity.human_attribute_name(:description) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
    <tr>
      <td><%= name_link_to_show([@organisation, entity]) %></td>
      <td><%= name_link_to_show([@organisation, entity.entity_type], title: format_description_title(entity.entity_type)) %></td>
      <td><%= format_description(entity.description) %></td>
      <td class="icons">
        <%= icon_link_to_edit([@organisation, entity]) %>
        <%= icon_link_to_destroy([@organisation, entity]) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= button_link_to_new([@organisation, Entity]) %>