<% content_for :page_title do %><%= t('.title_html', default: :show_object_html, class: @entity.class.model_name.human, name: @entity.instance_name + ' (' + @entity.entity_type.instance_name + ')') %><% end %>

<% content_for :local_menu_navigation do %>
  <%= button_link_to_index([@organisation, Entity]) %>
  <%= button_link_to_edit([@organisation, @entity]) %>
  <%= button_link_to_destroy([@organisation, @entity]) %>
<% end %>


<% if @entity.all_entity_images.present? %>
<%= render partial: 'entities/ken_burns_slideshow', locals: { images: @entity.all_entity_images } %>
<% end %>

<%= render partial: 'stickies/resource_stickies', locals: { resource: @entity } %>

<div id="tabs">
  <ul class="nav">
    <li><a href="#general" class="current"><%= t('.general') %></a></li>
    <% if @entity.properties.present? %>
    <li><a href="#properties"><%= EntityProperty.model_name.human(count: 2) %></a></li>
    <% end %>
    <li><a href="#documents"><%= Document.model_name.human(count: 2) %></a></li>
    <li><a href="#entity-images"><%= EntityImage.model_name.human(count: 2) %></a></li>
  </ul>

  <div class="tab-wrap">
    <div id="general">
      <dl>
        <dt><%= Entity.human_attribute_name(:name) %></dt>
        <dd><%= @entity.instance_name %></dd>
        <dt><%= Entity.human_attribute_name(:frontend_name) %></dt>
        <dd><%= @entity.frontend_name %></dd>
        <dt><%= Entity.human_attribute_name(:entity_type) %></dt>
        <dd><%= name_link_to_show([@organisation, @entity.entity_type], title: format_description_title(@entity.entity_type)) %></dd>
        <dt><%= Entity.human_attribute_name(:description) %></dt>
        <dd><%= simple_format(@entity.description) %></dd>
      </dl>
    </div>

    <% if @entity.properties.present? %>
    <div id="properties">
      <h2><%= EntityProperty.model_name.human(count: 2) %></h2>
      <dl>
        <%= render @entity.properties %>
      </dl>
    </div>
    <% end %>

    <div id="documents">
        <div id="documents-container" class="clearfix">
          <%= render partial: 'documents/overview', locals: { documents: @entity.documents } %>
        </div>
    </div>

    <div id="entity-images">
      <h2><%= EntityImage.model_name.human(count: 2) %></h2>
      <dl>
        <% if @entity.all_entity_images.present? %>
          <div class="entity-images-container clearfix">
          <% @entity.all_entity_images.each do |eimage| %>
            <%= link_to(image_tag(eimage.image.thumb.url, {alt: eimage.title, title: eimage.title}), eimage.image.url) %>
          <% end %>
          </div>
        <% else %>
          <%= t('.no_entity_images') %>
        <% end %>
      </dl>
    </div>
  </div>
</div>
