<% content_for :page_title do %>
<h1><%= show_title(@entity) %></h1>
<% end %>

<%= render partial: 'stickies/js_init', locals: { stickies: @entity.stickies, resource_name: @entity.class.name, resource_id: @entity.id } %>

<dl>
  <dt><%= Entity.human_attribute_name(:name) %></dt>
  <dd><%= @entity.name %></dd>
  <dt><%= Entity.human_attribute_name(:entity_type) %></dt>
  <dd><%= name_link_to_show([@organisation, @entity.entity_type], title: format_description_title(@entity.entity_type)) %></dd>
  <dt><%= Entity.human_attribute_name(:description) %></dt>
  <dd><%= simple_format(@entity.description) %></dd>
</dl>

<% if @entity.properties.present? %>
  <h2><%= EntityProperty.model_name.human(count: 2) %></h2>
  <dl>
    <%= render @entity.properties %>
  </dl>
<% end %>

<%= button_link_back_to_index([@organisation, Entity]) %>
<%= button_link_to_edit([@organisation, @entity]) %>
<%= button_link_to_destroy([@organisation, @entity]) %>