<% content_for :page_title do %><%= index_title(Organisation) %><% end %>

<% content_for :local_menu_navigation do %>
  <%= button_link_to_new(Organisation) %>
<% end %>

<% content_for :local_menu_page do %>
  <%= render 'layouts/mini_search', current_search_type: Organisation.model_name %>
<% end %>

<% if @organisations.empty? && params[:mini_search].present? %>
<p><%= t('empty_for_search', classes: Organisation.model_name.human(count: 2).lcfirst, search: sanitize(params[:mini_search], :tags=>[])).html_safe %>
<%= link_to(t('remove_search'), organisations_path()) %></p>
<% elsif @organisations.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: Organisation.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<%= paginate @organisations %>
<table>
  <thead>
    <tr>
      <%= sortable_table_head(Organisation, :name) %>
      <%= sortable_table_head(Organisation, :route) %>
      <%= sortable_table_head(Organisation, :street_number) %>
      <%= sortable_table_head(Organisation, :locality) %>
      <%= sortable_table_head(Organisation, :postal_code) %>
      <%= sortable_table_head(Organisation, :country) %>
      <%= sortable_table_head(Organisation, :phone_general) %>
      <%= sortable_table_head(Organisation, :phone_reservations) %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
    <tr>
      <td><%= name_link_to_show(organisation) %></td>
      <td><%= organisation.route %></td>
      <td><%= organisation.street_number %></td>
      <td><%= organisation.postal_code %></td>
      <td><%= organisation.locality %></td>
      <td><%= organisation.country %></td>
      <td><%= organisation.phone_general %></td>
      <td><%= organisation.phone_reservations %></td>
      <td class="icons">
        <%= icon_link_to_edit(organisation) %>
        <%= icon_link_to_destroy(organisation) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @organisations %>
<% end %>
