<% content_for :page_title do %><%= index_title(Organisation) %><% end %>

<% if @organisations.empty? %>
  <p><%= t('.empty', default: :empty_objects, classes: Organisation.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<%= paginate @organisations %>
<table>
  <thead>
    <tr>
      <th><%= Organisation.human_attribute_name(:name) %></th>
      <th><%= Organisation.human_attribute_name(:route) %></th>
      <th><%= Organisation.human_attribute_name(:street_number) %></th>
      <th><%= Organisation.human_attribute_name(:locality) %></th>
      <th><%= Organisation.human_attribute_name(:postal_code) %></th>
      <th><%= Organisation.human_attribute_name(:country) %></th>
      <th><%= Organisation.human_attribute_name(:phone_general) %></th>
      <th><%= Organisation.human_attribute_name(:phone_reservations) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
    <tr>
      <td><%= name_link_to_show(organisation) %></td>
      <td><%= organisation.route %></td>
      <td><%= organisation.street_number %></td>
      <td><%= organisation.postal_code %></td>
      <td><%= organisation.locality %></td>
      <td><%= organisation.country %></td>
      <td><%= organisation.phone_general %></td>
      <td><%= organisation.phone_reservations %></td>
      <td class="icons">
        <%= icon_link_to_edit(organisation) %>
        <%= icon_link_to_destroy(organisation) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @organisations %>
<% end %>

<%= button_link_to_new(Organisation) %>