<h1><%= index_title(Organisation) %></h1>

<% if @organisations.empty? %>
  <p><%= t('.empty', default: :empty_objects, classes: Organisation.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= Organisation.human_attribute_name(:name) %></th>
      <th><%= Organisation.human_attribute_name(:street) %></th>
      <th><%= Organisation.human_attribute_name(:house_number) %></th>
      <th><%= Organisation.human_attribute_name(:postal_code) %></th>
      <th><%= Organisation.human_attribute_name(:city) %></th>
      <th><%= Organisation.human_attribute_name(:country) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
    <tr>
      <td><%= name_link_to_show(organisation) %></td>
      <td><%= organisation.street %></td>
      <td><%= organisation.house_number %></td>
      <td><%= organisation.postal_code %></td>
      <td><%= organisation.city %></td>
      <td><%= organisation.country %></td>
      <td class="icons">
        <%= icon_link_to_edit(organisation) %>
        <%= icon_link_to_destroy(organisation) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= button_link_to_new(Organisation) %>