<div class="fields reservation-recurrence-definition-wrapper">
	<div class="field">
		<%= f.label :repeating %>
		<%= f.check_box :repeating %>
	</div>
	<div  class="field">
		<%= f.label :repeating_unit %>
		<%= f.select :repeating_unit, f.object.repetition_units.invert %>
	</div>
	<div  class="field">
		<%= f.label :repeating_every %>
		<%= f.select :repeating_every, f.object.repetition_every_choises %>
	</div>
		<div  class="field">
		<%= f.label :repeating_until %>
		<%= f.text_field :repeating_until, class: 'datepicker-field' %>
	</div>
	<div  class="field">
		<%= f.label :repeating_instances %>
		<%= f.text_field :repeating_instances %>
	</div>
</div>
