<%= form_for((@organisation.present? ? [@organisation, @entity_type_icon] : @entity_type_icon)) do |f| %>
  <%= render 'shared/error_messages', target: @entity_type_icon %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <% unless @organisation.present? %>
  <div class="field">
    <%= f.label :organisation %>
    <%#= f.collection_select :organisation_id, Organisation.all.sort, :id, :instance_name, prompt: t('prompt_all_organisations') %>
    <%= select_tag('organisation_id', options_from_collection_for_select(Organisation.all.sort, :id, :instance_name, @entity_type_icon.organisation.present? ? @entity_type_icon.organisation.id : 0), { prompt: t('prompt_all_organisations') }) %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :entity_type_icon_image %>
    <div class="entity-type-icon-image">
      <%= image_tag(@entity_type_icon.image.medium_icon.url) %>
    </div>
    <% if @entity_type_icon.image.present? %>
      <div class="field">
        <label>
          <%= t('.remove_icon') %>
        </label>
        <%= f.check_box :remove_image %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :remote_image_url %>
    <%= f.text_field :remote_image_url %>
  </div>
  <div class="field">
    <%= f.label :image_from_file %>
    <%= f.file_field :image %>
  </div>
    <%= f.hidden_field :image_cache %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>