<% content_for :page_title do %>
<%= index_title(User) %>
<% end %>

<% if @users.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: User.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= User.human_attribute_name(:first_name) %></th>
      <th><%= User.human_attribute_name(:infix) %></th>
      <th><%= User.human_attribute_name(:last_name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:sign_in_count) %></th>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <th><%= User.human_attribute_name(:last_sign_in_at) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= name_link_to_show(user, {name: user.id.to_s}) %></td>
      <td><%= user.first_name %></td>
      <td><%= user.infix %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.sign_in_count %></td>
      <td><%=l(user.created_at, format: :long) %></td>
      <td><%=l(user.last_sign_in_at, format: :long) if user.last_sign_in_at.present? %></td>
      <td class="icons">
        <%= icon_link_to_edit(user) %>
        <%= icon_link_to_destroy(user) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>