<div class="property_type">
  <h3><%= property_type.name %></h3>
  <dl>
    <dt><%= PropertyType.human_attribute_name(:description) %></dt>
    <dd><%= property_type.description %></dd>
    <% if property_type.has_required? %>
    <dt><%= PropertyType.human_attribute_name(:required) %></dt>
    <dd><%= format_bool(property_type.required) %></dd>
    <% end %>
    <dt><%= PropertyType.human_attribute_name(:data_type) %></dt>
    <dd title="<%= property_type.data_type.human_description %>"><%= property_type.data_type.human_name %></dd>
    <% if property_type.has_options? %>
    <dt><%= PropertyTypeOption.model_name.human(count: 2) %></dt>
    <dd><%= property_type.property_type_options.map(&:name).to_sentence %></dd>
    <% end %>
    <dt><%= PropertyType.human_attribute_name(:default_value) %></dt>
    <dd><%= format_text(property_type.formatted_default_value) %></dd>
  </dl>
</div>