<h1><%= show_title(@property_type) %></h1>

<dl>
  <dt><%= PropertyType.human_attribute_name(:entity_type) %></dt>
  <dd><%= @property_type.entity_type %></dd>
  <dt><%= PropertyType.human_attribute_name(:name) %></dt>
  <dd><%= @property_type.name %></dd>
  <dt><%= PropertyType.human_attribute_name(:description) %></dt>
  <dd><%= @property_type.description %></dd>
  <dt><%= PropertyType.human_attribute_name(:data_type) %></dt>
  <dd><%= @property_type.data_type %></dd>
</dl>

<%= button_link_back_to_index(PropertyType) %>
<%= button_link_to_edit(@property_type) %>
<%= button_link_to_destroy(@property_type) %>