<a href="#x" class="overlay" id="new_feedback" data-html2canvas-ignore="true"></a>
<div class="modal" id="new_feedback_popup" data-html2canvas-ignore="true">
  <div class="feedback-text">
    <h3 id="open-feedback"><%= t('.open_feedback') %></h3>
    <p id="feedback-intro"><%= t('.feedback_intro') %></p>
    <textarea id="feedback-message"></textarea>
    <button id="next-feedback" class="feedback-button"><%= t('.next') %></button>
  </div>

  <div class="feedback-review">
    <h3 id="review-feedback"><%= t('.review_feedback') %></h3>
    <img id="screenshot_preview" src="" alt="screenshot" />
    <div class="feedback-tech-info">
      <h4><%= t('.technic_info') %></h4>
      <p id="tech-info-summary"></p>
    <p id="feedback-message-summary"></p>

    <button id="send-feedback" class="feedback-button"><%= t('.send') %></button>
  </div>
  <div class="feedback-status">
    <h3 id="feedback-success"><%= t('.feedback_success') %></h3>
    <h3 id="feedback-error"><%= t('.feedback_error') %></h3>
    <p id="feedback-success-explain"><%= t('.feedback_success_explain') %></p>
    <p id="feedback-error-explain"><%= t('.feedback_error_explain') %></p>
    <button id="close-feedback" class="feedback-button"><%= t('.close') %></button>
  </div>
  <a class="close" href="#close"></a>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      var feedback = new IADAFeedback({ open_button_id: 'open-feedback-button', backend_url: '<%= feedback_and_screencaps_path %>' });
  });
</script>