<%= nested_form_for([@organisation, @entity_type]) do |f| %>
  <%= render 'shared/error_messages', target: @entity_type %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <h2><%= PropertyType.model_name.human(count: 2) %></h2>
  <div class="nested-form" id="property-types">
    <%= f.fields_for :property_types, wrapper: false do |ptf| %>
      <%= render partial: 'property_type_fields', locals: { f: ptf } %>
    <% end %>
    <%= f.link_to_add '', :property_types, class: 'icon icon-plus property-type-add', title: t('add_nested_object', class: PropertyType.model_name.human.lcfirst) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>