<%= nested_form_for([@organisation, @entity_type]) do |f| %>
  <%= render 'shared/error_messages', target: @entity_type %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="nested-form property-types">
    <h2><%= PropertyType.model_name.human(count: 2) %></h2>
    <%= f.fields_for :property_types do |ptf| %>
      <%= render partial: 'property_type_fields', locals: { f: ptf } %>
    <% end %>
    <%= f.link_to_add t('add_nested_object', class: PropertyType.model_name.human.lcfirst), :property_types %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>