<div id="entity-type-form">
  <%= nested_form_for([@organisation, @entity_type]) do |f| %>
    <%= render 'shared/error_messages', target: @entity_type %>

    <div id="tabs">
      <ul class="nav">
        <li><a href="#general" class="current"><%= t('.general') %></a></li>
        <li><a href="#properties"><%= t('.properties') %></a></li>
        <li><a href="#options"><%= t('.options') %></a></li>
        <li><a href="#reservation-statuses"><%= t('.reservation_statuses') %></a></li>
        <li><a href="#images"><%= t('.images') %></a></li>
        <li><a href="#reserve-periods"><%= t('.reserve_periods') %></a></li>
      </ul>

      <div class="tab-wrap">
        <div id="general">
          <h2><%= t('.general') %></h2>
          <div class="field">
            <%= f.label :name %>
              <div class="field-with-example-wrapper">
              <%= f.text_field :name %>
              <p><%= t('for_example') + ': ' + t('.entity_type_name_example') %></p>
            </div>
          </div>
          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description %>
          </div>
          <%= f.label :icon %>
          <div class="field field-icon-select clearfix">
          <% EntityTypeIcon.where('organisation_id = ? OR organisation_id IS NULL', @organisation).each do |eti| %>
            <%= f.radio_button :icon_id, eti.id, class: 'nocwic' %>
            <%= f.label "icon_id_#{eti.id}", eti.name, { style: "background-image: url('#{eti.image.icon.url}');", class: (eti.id == @entity_type.icon.id) ? 'active' : ''} %>
          <% end %>
          </div>
          <div><%= link_to(t('.objecticoon toevoegen'), new_organisation_entity_type_icon_path(@organisation)) %></div>
          <h2><%= t('.default_slack_times') %></h2>
          <%= format_help(t('.default_slack_times_help')) %>
          <div class="field">
            <%= f.label :slack_before %>
            <%= f.number_field :slack_before, min: 0 %> <span class="field-suffix"><%= t('.minutes') %></span>
          </div>
          <div class="field">
            <%= f.label :slack_after %>
            <%= f.number_field :slack_after, min: 0 %> <span class="field-suffix"><%= t('.minutes') %></span>
          </div>
        </div>

        <div id="properties" class="hide">
          <h2><%= EntityTypeProperty.model_name.human(count: 2) %></h2>
          <%= format_help(t('.properties_help')) %>
          <div class="nested-form" id="entity-type-properties">
            <%= f.fields_for :properties, @entity_type.properties.sort_by(&:index), wrapper: false do |pf| %>
              <%= render partial: 'property_fields', locals: { f: pf } %>
            <% end %>
          </div>
          <%= f.link_to_add '', :properties, data: { target: '#entity-type-properties' }, class: 'icon icon-plus action-button add-nested-object', title: t('add_nested_object', class: EntityTypeProperty.model_name.human.lcfirst) %>
        </div>

        <div id="reservation-statuses" class="hide">
          <h2><%= ReservationStatus.model_name.human(count: 2) %></h2>
          <%= format_help(t('.reservation_status_help')) %>
          <div class="reservation-status-header clearfix">
            <div class="icon icon-resize-vertical sort-handle hidden"></div>
            <div class="name"><%= ReservationStatus.human_attribute_name(:name) %></div>
            <div class="color"><%= ReservationStatus.human_attribute_name(:color) %></div>
            <div><%= ReservationStatus.human_attribute_name(:blocking).html_safe %></div>
            <div><%= ReservationStatus.human_attribute_name(:info_boards).html_safe %></div>
            <div><%= ReservationStatus.human_attribute_name(:billable).html_safe %></div>
          </div>
          <ul class="nested-form" id="entity-type-reservation-statuses">
            <%= f.fields_for :reservation_statuses, @entity_type.reservation_statuses.sort_by(&:index), wrapper: false do |rsf| %>
              <%= render partial: 'reservation_status_fields', locals: { f: rsf } %>
            <% end %>
          </ul>
          <%= f.link_to_add '', :reservation_statuses, data: { target: '#entity-type-reservation-statuses' }, class: 'icon icon-plus action-button add-nested-object', title: t('add_nested_object', class: ReservationStatus.model_name.human.lcfirst) %>
        </div>

        <div id="options" class="hide">
          <h2><%= EntityTypeOption.model_name.human(count: 2) %></h2>
          <%= format_help(t('.options_help')) %>
          <div class="nested-form" id="entity-type-options">
            <%= f.fields_for :options, @entity_type.options.sort_by(&:index), wrapper: false do |of| %>
              <%= render partial: 'option_fields', locals: { f: of } %>
            <% end %>
          </div>
          <%= f.link_to_add '', :options, data: { target: '#entity-type-options' }, class: 'icon icon-plus action-button add-nested-object', title: t('add_nested_object', class: EntityTypeOption.model_name.human.lcfirst) %>
        </div>

        <div id="images" class="hide">
          <h2><%= EntityImage.model_name.human(count: 2) %></h2>
          <%= format_help(t('.entity_images_help')) %>
          <div class="nested-form" id="entity-images">
            <%= f.fields_for :entity_images, wrapper: false do |eif| %>
              <%= render partial: 'entities/entity_image_fields', locals: { f: eif } %>
            <% end %>
          </div>
          <%= f.link_to_add '', :entity_images, data: { target: '#entity-images' }, class: 'icon icon-plus action-button add-nested-object', title: t('add_nested_object', class: EntityImage.model_name.human.lcfirst) %>
        </div>

        <div id="reserve-periods" class="hide">
          <h2><%= ReservePeriod.model_name.human(count: 2) %></h2>
          <%= format_help(t('.reserve_periods_help')) %>
          <div class="nested-form" id="entity-type-reserve-periods">
            <%= f.fields_for :reserve_periods, wrapper: false do |rpf| %>
              <%= render partial: 'reserve_period_fields', locals: { f: rpf } %>
            <% end %>
          </div>
          <%= f.link_to_add '', :reserve_periods, data: { target: '#entity-type-reserve-periods' }, class: 'icon icon-plus action-button add-nested-object', title: t('add_nested_object', class: ReservePeriod.model_name.human.lcfirst) %>

          <h2><%= t('.reservation_length_limitations') %></h2>
          <div>
            <div class="field">
              <%= f.label :min_reservation_length %>
              <%= f.number_field :min_reservation_length, min: 0 %> <span class="field-suffix"><%= t('.minutes') %></span>
            </div>
            <div class="field">
              <%= f.label :max_reservation_length %>
              <%= f.number_field :max_reservation_length, min: 0 %> <span class="field-suffix"><%= t('.minutes') %></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
