<div class="nested_object">
  <h3><%= PropertyType.model_name.human %></h3>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :data_type %>
    <%= f.select :data_type_id, DataType.all.sort.map { |dt| [dt.human_name, dt.id, { title: dt.human_description }] }, prompt: t('prompt_choose') %>
  </div>
  <div class="field">
    <%= f.label :default_value %>
    <%= f.text_field :default_value %>
  </div>
  <div class="actions">
    <%= f.link_to_remove t('remove_nested_object', class: PropertyType.model_name.human.lcfirst) %>
  </div>
</div>