<div class="fields entity-type-property-wrapper" data-valid="<%= f.object.persisted? && f.object.valid? %>">
  <div class="view">
    <div class="horizontal-block icon icon-resize-vertical handle" title="<%= t('order_nested_object', classes: EntityTypeProperty.model_name.human(count: 2).lcfirst) %>"></div>
    <div class="field horizontal-block name">
      <div class="label"><%= EntityTypeProperty.human_attribute_name(:name) %></div>
      <div class="value" data-field="name"><%= format_text(f.object.name) %></div>
    </div>
    <div class="field horizontal-block description">
      <div class="label"><%= EntityTypeProperty.human_attribute_name(:description) %></div>
      <div class="ellipsis"><div class="value" data-field="description"><%= format_text(f.object.description) %></div></div>
    </div>
    <div class="horizontal-block extra">
      <dl>
        <dt><%= EntityTypeProperty.human_attribute_name(:data_type) %></dt>
        <dd data-field="data-type"><%= f.object.data_type.try(:human_name) %></dd>
        <dt class="required"><%= EntityTypeProperty.human_attribute_name(:required) %></dt>
        <dd class="required" data-field="required"><%= format_bool(f.object.required) %></dd>
        <dt class="entity-type-property-options"><%= EntityTypePropertyOption.model_name.human(count: 2) %></dt>
        <dd class="entity-type-property-options" data-field="entity-type-property-options"><%= f.object.options.sort_by(&:index).map(&:name).to_sentence %></dd>
        <dt><%= EntityTypeProperty.human_attribute_name(:default_value) %></dt>
        <dd data-field="default-value"><%= format_text(f.object.formatted_default_value) %></dd>
      </dl>
    </div>
    <div class="actions">
      <%= link_to '', 'javascript:void(0)', class: 'icon icon-edit', title: t('edit_nested_object', class: EntityTypeProperty.model_name.human.lcfirst) %>
      <%= f.link_to_remove '', class: 'icon icon-remove', title: t('remove_nested_object', class: EntityTypeProperty.model_name.human.lcfirst), data: { confirm: t('.destroy_are_you_sure', default: :destroy_are_you_sure) } %>
    </div>
  </div>
  <div class="form">
    <div class="field horizontal-block name">
      <%= f.text_field :name, placeholder: EntityTypeProperty.human_attribute_name(:name), title: EntityTypeProperty.human_attribute_name(:name), data: { field: 'name' } %>
    </div>
    <div class="field horizontal-block description">
      <%= f.text_area :description, placeholder: EntityTypeProperty.human_attribute_name(:description), title: EntityTypeProperty.human_attribute_name(:description), data: { field: 'description' } %>
    </div>
    <div class="horizontal-block extra">
      <div class="field">
        <%= f.label :data_type_id %>
        <%= f.select :data_type_id, DataType.all.sort.map { |dt| [dt.human_name, dt.id, { title: dt.human_description, :'data-key' => dt.key }] }, { prompt: true }, data: { field: 'data-type' } %>
      </div>
      <div class="field required">
        <%= f.label :required, title: t('.required_expl') %>
        <%= f.check_box :required, data: { field: 'required' } %>
      </div>
      <div class="field default-value" style="display: none;">
        <%= f.label :default_value %>
        <span class="default-value-formatted-field"></span>
        <%= f.hidden_field :default_value, value: f.object.form_default_value, class: 'default-value-parsed-field' %>
      </div>
    </div>
    <div class="actions">
      <%= link_to '', 'javascript:void(0)', class: 'icon icon-ok', title: t('done_nested_object', class: EntityTypeProperty.model_name.human.lcfirst) %>
    </div>
    <div class="nested-form entity-type-property-options">
      <h4><%= EntityTypePropertyOption.model_name.human(count: 2) %></h4>
      <table>
        <thead>
          <tr>
            <th></th>
            <th><%= EntityTypePropertyOption.human_attribute_name(:name) %></th>
            <th class="default"><%= EntityTypePropertyOption.human_attribute_name(:default) %><a href="javascript:void(0);" class="clear-default-link"><%= t('.clear') %></a></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="target">
          <%= f.fields_for :options, f.object.options.sort_by(&:index), wrapper: false do |ptof| %>
            <%= render partial: 'property_option_fields', locals: { f: ptof } %>
          <% end %>
        </tbody>
      </table>
      <%= f.link_to_add '', :options, class: 'icon icon-plus', title: t('add_nested_object', class: EntityTypePropertyOption.model_name.human.lcfirst) %>
    </div>
  </div>
  <%= f.hidden_field :index, class: 'index-field' %>
</div>