<% content_for :page_title do %>
<%= show_title(@entity_type) %>
<% end %>
<%= image_tag(@entity_type.entity_type_icon.image.medium_icon.url) %></td>
<dl>
  <dt><%= EntityType.human_attribute_name(:name) %></dt>
  <dd><%= @entity_type.name %></dd>
  <dt><%= EntityType.human_attribute_name(:description) %></dt>
  <dd><%= simple_format(@entity_type.description) %></dd>
</dl>

<h2><%= PropertyType.model_name.human(count: 2) %></h2>
<%= render @entity_type.property_types %>

<%= button_link_back_to_index([@organisation, EntityType]) %>
<%= button_link_to_edit([@organisation, @entity_type]) %>
<%= button_link_to_destroy([@organisation, @entity_type], confirm: destroy_confirm(@entity_type)) %>