<% content_for :page_title do %>
<%= show_title(@entity_type) %>
<% end %>
<% if @entity_type.entity_images.present? %>
  <%= render partial: 'entities/ken_burns_slideshow', locals: {images: @entity_type.entity_images} %>
<% end %>
<div>
<%= image_tag(@entity_type.icon.image.medium_icon.url) %></td>
<dl>
  <dt><%= EntityType.human_attribute_name(:name) %></dt>
  <dd><%= @entity_type.name %></dd>
  <dt><%= EntityType.human_attribute_name(:description) %></dt>
  <dd><%= @entity_type.description %></dd>
</dl>

<% if @entity_type.properties.present? %>
  <h2><%= EntityTypeProperty.model_name.human(count: 2) %></h2>
  <div id="entity-type-properties">
    <%= render @entity_type.properties %>
  </div>
<% end %>

<%= button_link_back_to_index([@organisation, EntityType]) %>
<%= button_link_to_edit([@organisation, @entity_type]) %>
<%= button_link_to_destroy([@organisation, @entity_type], confirm: destroy_confirm(@entity_type)) %>