<div class="fields document">
  <% if doc.id %>
    <%= link_to(organisation_document_path(current_organisation, doc), class: 'document-link', target: :_blank, style: "background-image: url('#{doc.document.thumb.file.try(:exists?) ? doc.document.thumb.url : get_document_icon_url_for_extension(doc.document.file.extension)}')") do %>
      <span class="document-extension"><%= doc.document.file.extension %></span>
    <% end %>
    <%= link_to(organisation_document_path(current_organisation, doc), class: 'document-info', target: :_blank) do %>
      <%= render partial: 'documents/document_tile_link_content', locals: { doc: doc } %>
    <% end %>
  <% else %>
    <%= render partial: 'documents/document_tile_link_content', locals: { doc: doc } %>
  <% end %>

  <%= form.link_to_remove '', class: 'icon icon-remove action-button', title: t('remove_nested_object', class: Document.model_name.human.lcfirst) if local_assigns[:form].present? %>
</div>
