<span class="filename" title="<%= doc.document.file.filename %>"><%= doc.document_filename %></span>
<span class="created_at"><%= l(doc.created_at, format: :long) if doc.created_at %></span>
<span class="created_by" title="<%= doc.user.instance_name %>"><%= doc.user.instance_name %></span>
