<div class="fields">
  <% if f.object.document.present? %>
    <%= render partial: 'documents/document_tile', locals: { doc: f.object, removable: true } %>
  </div>
  <% else %>
  <div class="field">
    <%= f.label :remote_document_url %>
    <%= f.text_field :remote_document_url %>
  </div>
  <div class="field">
    <%= f.label :document_from_file %>
    <%= f.file_field :document %>
  </div>
    <%= f.link_to_remove '', class: 'icon icon-remove action-button', title: t('remove_nested_object', class: Document.model_name.human.lcfirst), data: { confirm: t('are_you_sure') } %>
  <% end %>
  <%= f.hidden_field :document_cache %>
</div>
