<%= nested_form_for([@organisation, @reservation.localized]) do |f| %>
  <%= render 'shared/error_messages', target: @reservation %>

  <div class="field">
    <%= f.label :description %>
    <div class="field-with-example-wrapper">
      <%= f.text_field :description %>
      <p><%= t('for_example') + ': ' + t('.reservation_description_example') %></p>
    </div>
  </div>
  <div class="field">
    <%= f.label :begins_at %>
    <%= f.text_field :begins_at_date, id: 'begins_at_date', class: 'datepicker-field' %>
    <%= f.text_field :begins_at_tod, id: 'begins_at_tod', class: 'timepicker-field' %>
  </div>
  <div class="field">
    <%= f.label :ends_at %>
    <%= f.text_field :ends_at_date, id: 'ends_at_date', class: 'datepicker-field' %>
    <%= f.text_field :ends_at_tod, id: 'ends_at_tod', class: 'timepicker-field' %>
  </div>
  <div class="field">
    <%= f.label :entity %>
    <%= f.collection_select :entity_id, @organisation.entities.sort, :id, :instance_name, prompt: t('prompt_choose') %>
  </div>
  <div class="organisation_client_new_existing">
    <div class="field">
        <label for="organisation_client_type"><%= t('.organisation_client_type') %></label>
        <%= radio_button_tag 'organisation_client_type', 'existing', @focus != 'new_client' %><%= t('.existing_organisation_client') %>
        <%= radio_button_tag 'organisation_client_type', 'new', @focus == 'new_client' %><%= t('.new_organisation_client') %>
    </div>
  </div>
  <div class="existing_organisation_client" <% if @focus == 'new_client' %>style="display: none;"<% end %>>
    <div class="field">
      <%= f.label :organisation_client %>
      <%= f.hidden_field :organisation_client_id, id: 'organisation_client_select', class: 'select2', data: {:'prev-selected' => f.object.try(:organisation_client).try(:instance_name) } %>
    </div>
  </div>
  <div class="new_organisation_client" <% if @focus != 'new_client' %>style="display: none;"<% end %>>
    <%= f.fields_for :organisation_client, @reservation.organisation_client, wrapper: false do |ocf| %>
      <%= render partial: 'organisation_clients/form_fields', locals: { f: ocf } %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>