<div id="reservation-form">
  <%= nested_form_for([@organisation, @reservation.localized]) do |f| %>
    <%= render partial: 'tags/form', locals: { f: f } %>

    <%= render 'shared/error_messages', target: @reservation %>

    <fieldset class="begin-and-end">
      <div class="field slack-field slack-field-begin">
        <%= f.label :slack_before %><%= format_help(t('.default_slack_times_help'), :inline) %>
        <%= f.number_field :slack_before, placeholder: @reservation.entity.try(:get_slack_before), min: 0 %><div class="suffix"><%= t('.minutes') %></div>
      </div>
      <div class="field field-begins-at">
        <%= f.label :begins_at %>
        <%= f.text_field :begins_at_date, id: 'begins_at_date', class: 'datepicker-field' %>
        <%= f.text_field :begins_at_tod, id: 'begins_at_tod', class: 'timepicker-field' %>
      </div>
      <i class="icon-arrow-right until-icon"></i>
      <div class="field field-ends-at">
        <%= f.label :ends_at %>
        <%= f.text_field :ends_at_date, id: 'ends_at_date', class: 'datepicker-field' %>
        <%= f.text_field :ends_at_tod, id: 'ends_at_tod', class: 'timepicker-field' %>
      </div>
      <div class="field slack-field slack-field-end">
        <%= f.label :slack_after %><%= format_help(t('.default_slack_times_help'), :inline) %>
        <%= f.number_field :slack_after, placeholder: @reservation.entity.try(:get_slack_after), min: 0 %><div class="suffix"><%= t('.minutes') %></div>
      </div>
    </fieldset>

    <div class="content-columns threecol clearfix">
      <div class="content-column">
        <div class="content-block">
          <h2><i class="icon-shapes"></i><%= Entity.model_name.human(count: 1) %></h2>
          <div class="entity-selector">
            <h3><%= t('.selected_entity') %></h3>
            <div class="selected-entity <%= (@reservation.warning ? 'warning-available' : 'available') if @reservation.entity.present? %>"><%= @reservation.entity.instance_name rescue t('.no_entity_selected') %></div>
            <%= f.hidden_field :entity_id %>
            <h3><%= t('.available_entities') %></h3>
            <div class="entity-type-filter">
              <div class="field field-entity-type">
                <%= f.label :entity_type %>
                <%= select_tag :entity_type_id, options_for_select(@organisation.entity_types.sort.collect { |et| [et.name, et.id] }, @reservation.entity.try(:entity_type_id)), { prompt: t('prompt_choose') } %>
              </div>
            </div>
            <div class="no-entities-available"><%= t('.no_entities_available') %></div>
            <ul class="entity-list"></ul>
          </div>
        </div>
      </div>

      <div class="content-column">
        <div class="content-block">
          <h2><i class="icon-user"></i><%= OrganisationClient.model_name.human(count: 1) %></h2>
          <% if @reservation.new_record? %>
          <div class="organisation_client_new_existing">
            <div class="field">
              <label for="organisation_client_type"><%= t('.organisation_client_type') %></label>
              <fieldset class="inline-fieldset">
                <%= radio_button_tag :organisation_client_type, :existing, @focus != 'new_client' %><%= label_tag(:organisation_client_type_existing, t('.existing_organisation_client')) %>
                <%= radio_button_tag :organisation_client_type, :new, @focus == 'new_client' %><%= label_tag(:organisation_client_type_new, t('.new_organisation_client')) %>
              </fieldset>
            </div>
          </div>
          <div class="existing_organisation_client" <% if @focus == 'new_client' %>style="display: none;"<% end %>>
            <div class="field">
              <%= f.label :organisation_client %>
              <%= f.hidden_field :organisation_client_id, class: 'select2 organisation_client_select' %>
            </div>
          </div>
          <div class="new_organisation_client" <% if @focus != 'new_client' %>style="display: none;"<% end %>>
            <%= f.fields_for :organisation_client, @reservation.organisation_client, wrapper: false do |ocf| %>
              <%= render partial: 'organisation_clients/form_fields', locals: { f: ocf } %>
            <% end %>
          </div>
          <% else %>
          <div class="field">
            <%= f.label :organisation_client %>
            <%= f.hidden_field :organisation_client_id, class: 'select2 organisation_client_select', data: {:'prev-selected' => f.object.try(:organisation_client).try(:instance_name) } %>
          </div>
          <% end %>
        </div>
        <div class="content-block">
          <h2><i class="icon-document"></i><%= Document.model_name.human(count: 2) %></h2>
          <div id="documents">
            <div class="nested-form clearfix" id="documents-container">
              <%= f.fields_for :documents, wrapper: false do |df| %>
                <%= render partial: 'documents/document_fields', locals: { f: df } %>
              <% end %>
            </div>
            <%= f.link_to_add '', :documents, data: { target: '#documents-container' }, class: 'icon icon-plus action-button add-nested-object', title: t('add_nested_object', class: Document.model_name.human.lcfirst) %>
          </div>
        </div>
      </div>

      <div class="content-column">
        <div class="content-block">
          <h2><i class="icon-settingsthree-gears"></i><%= t('.settings') %></h2>
          <div class="field">
            <%= f.label :description %>
            <div class="field-with-example-wrapper">
              <%= f.text_field :description %>
              <p><%= t('for_example') + ': ' + t('.reservation_description_example') %></p>
            </div>
          </div>
          <% if @reservation.new_record? %>
          <%= f.fields_for :reservation_recurrence_definition, @reservation.reservation_recurrence_definition, wrapper: false do |rrdf| %>
            <%= render partial: 'reservation_recurrence_definitions/form_fields', locals: { f: rrdf } %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
