<table class="multiple-edit">
  <thead>
    <tr>
      <%= table_head(ReservationLog, :user) %>
      <%= table_head(ReservationLog, :created_at) %>
    </tr>
  </thead>

  <tbody>
    <% logs.each do |log| %>
      <tr>
        <% if log.user.present? %>
          <td><%= log.user.instance_name %></td>
        <% else %>
          <td style="color: red;"><%= log.old_user_name.present? ? log.old_user_name : '' %></td>
        <% end %>
        <td><%= l(log.created_at, format: :long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>