<% content_for :page_title do %>
<%= index_title(Reservation) %>
<% end %>

<% if @reservations.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: Reservation.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= Reservation.human_attribute_name(:begins_at) %></th>
      <th><%= Reservation.human_attribute_name(:ends_at) %></th>
      <th><%= Reservation.human_attribute_name(:entity) %></th>
      <th><%= Reservation.human_attribute_name(:organisation_client) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= name_link_to_show([@organisation, reservation]) %></td>
      <td><%= reservation.ends_at %></td>
      <td><%= reservation.entity %></td>
      <td><%= reservation.organisation_client %></td>
      <td class="icons">
        <%= icon_link_to_edit([@organisation, reservation]) %>
        <%= icon_link_to_destroy([@organisation, reservation]) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= button_link_to_new([@organisation, Reservation]) %>

<div id="schedule-container"></div>

<div id="schedule-templates" style="display: none;">
  <div class="schedule" id="scheduleContainerTemplate">
    <div class="time-axis clearfix"></div>
    <div class="day-axis"></div>
    <div class="schedule-body"></div>
  </div>

  <div class="hour-time-axis-frame" id="hourTimeAxisFrameTemplate"><p class="time"></p></div>


  <div class="day-row" id="dayRowTemplate">
    <div class="day-row-time-parts"></div>
    <div class="day-row-schedule-objects"></div>
  </div>

  <div class="hour-time-frame" id="hourTimeFrameTemplate"></div>

 <div class="day-axis-row" id="dayAxisRowTemplate">
    <div class="day-name"><p></p></div>
    <div class="day-nr"><p></p></div>
    <div class="month-name"><p></p></div>
  </div>

  <div class="schedule-item" id="scheduleItemTemplate">
    <div class="continue left"><i class="icon-arrow-right"></i></div>
    <div class="continue right"><i class="icon-arrow-right"></i></div>
    <p class="item-text"></p>
  </div>
  <div class="day-row-schedule-object-item-parts" id="dayRowScheduleObjectItemPartsTemplate"></div>
</div>