<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= Reservation.model_name.human(count: 2) %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= Reservation.human_attribute_name(:reservation_status) %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  Reservation.human_attribute_name(:id) %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  Reservation.human_attribute_name(:description) %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  Reservation.human_attribute_name(:organisation_client) %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  Reservation.human_attribute_name(:entity) %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  Reservation.human_attribute_name(:begins_at) %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  Reservation.human_attribute_name(:ends_at) %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  Reservation.human_attribute_name(:created_at) %></Data></Cell>
      </Row>
    <% @reservations.each do |reservation| %>
      <Row>
        <Cell><Data ss:Type="String"><%= reservation.reservation_status.instance_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= reservation.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= reservation.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= reservation.organisation_client.instance_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= reservation.entity.instance_name %></Data></Cell>
        <Cell><Data ss:Type="Time"><%= reservation.begins_at.to_s(:db) %></Data></Cell>
        <Cell><Data ss:Type="Time"><%= reservation.ends_at.to_s(:db) %></Data></Cell>
        <Cell><Data ss:Type="Time"><%= reservation.created_at.to_s(:db) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>