<%= form_for(@intro_section) do |f| %>
  <%= render 'shared/error_messages', target: @intro_section %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :background_color %>
    <%= f.text_field :background_color %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <% if @intro_section.image.present? %>
      <div class="intro_section-image">
        <%= image_tag(@intro_section.image.thumb.url) %>
      </div>
      <div class="field">
        <label>
          <%= t('.remove_icon') %>
        </label>
        <%= f.check_box :remove_image %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :remote_image_url %>
    <%= f.text_field :remote_image_url %>
  </div>
  <div class="field">
    <%= f.label :image_from_file %>
    <%= f.file_field :image %>
  </div>
    <%= f.hidden_field :image_cache %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
