<section class="intro-section-home" style="background-image: url('/uploads/intro_section/image/2/Tulips.jpg')">
  <div id="logo-container">
    <div id="logo-container-inner">
      <%= link_to(root_path) do %>
        <img src="<%= asset_path('logo.png') %>" class="logo" />
      <% end %>
    </div>
  </div>
  <%= render partial: 'layouts/flash_messages' %>
  <% if !user_signed_in? %>
    <div class="intro-sign-up">
      <%= button_link_to_sign_up({ name: t('.start_using_cwic'), class: 'button green' }) %>
    </div>
    <div class="intro-sign-in">
      <%= button_link_to_sign_in() %>
    </div>
  <% else %>
    <div class="intro-go-to-app">
      <%= button_link_to_app() %>
    </div>
    <div class="intro-sign-out">
      <%= button_link_to_sign_out() %>
    </div>
  <% end %>
</section>
<% @intro_sections.each do |intro_section| %>
  <%= render partial: 'intro_sections/section', locals: {intro_section: intro_section} %>
<% end %>
<section class="intro-section-home" style="background-image: url('/uploads/intro_section/image/2/Tulips.jpg')">
  <%= render partial: 'layouts/flash_messages' %>
  <div class="intro-sign-up">
    <%= button_link_to_sign_up({ name: t('.start_using_cwic'), class: 'button green' }) %>
  </div>
</section>