<% content_for :page_title do %><%= index_title(IntroSection) %><% end %>

<% if @intro_sections.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: IntroSection.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= IntroSection.human_attribute_name(:title) %></th>
      <th><%= IntroSection.human_attribute_name(:body) %></th>
      <th><%= IntroSection.human_attribute_name(:image) %></th>
      <th><%= IntroSection.human_attribute_name(:weight) %></th>
      <th><%= IntroSection.human_attribute_name(:background_color) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @intro_sections.each do |intro_section| %>
    <tr>
      <td><%= name_link_to_show(intro_section) %></td>
      <td><%= intro_section.body %></td>
      <td><%= intro_section.image %></td>
      <td><%= intro_section.weight %></td>
      <td><%= intro_section.background_color %></td>
      <td class="icons">
        <%= icon_link_to_edit(intro_section) %>
        <%= icon_link_to_destroy(intro_section) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= button_link_to_new(IntroSection) %>
