<%= form_for([@organisation, @info_screen]) do |f| %>
  <%= render 'shared/error_messages', target: @info_screen %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>