<%= form_for([@organisation, @info_screen]) do |f| %>
  <%= render 'shared/error_messages', target: @info_screen %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :add_new_entity_types %>
    <%= f.check_box :add_new_entity_types %>
  </div>
  <div class="field">
    <%= f.label :clock_header %>
    <%= f.check_box :clock_header %>
  </div>
  <div class="field">
    <%= f.label :direction_char_visible %>
    <%= f.check_box :direction_char_visible, id: 'direction_char_visible' %>
  </div>
  <h2><%= t('.selected_entity_types') %></h2>
  <div class="info-screen-entity-types">
  <% if @info_screen.info_screen_entity_types.present? %>
    <%= f.fields_for :info_screen_entity_types, @info_screen.info_screen_entity_types do |etf| %>
      <%= render partial: 'info_screen_entity_type_fields', locals: { f: etf } %>
    <% end %>
  <% else %>
    <%= t('.no_info_screen_entity_type') %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>