<% content_for :page_title do %><%= index_title(InfoScreen) %><% end %>

<% if @info_screens.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: InfoScreen.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<%= paginate @info_screens %>
<table>
  <thead>
    <tr>
      <th><%= InfoScreen.human_attribute_name(:name) %></th>
      <th><%= InfoScreen.human_attribute_name(:public) %></th>
      <th><%= InfoScreen.human_attribute_name(:show_reservation_number) %></th>
      <th><%= InfoScreen.human_attribute_name(:active_entities) %></th>
      <th><%= InfoScreen.human_attribute_name(:clock_header) %></th>
      <th><%= InfoScreen.human_attribute_name(:direction_char_visible) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @info_screens.each do |info_screen| %>
    <tr>
      <td><%= name_link_to_show([@organisation, info_screen], target: :blank) %></td>
      <td><%= format_bool(info_screen.public) %></td>
      <td><%= format_bool(info_screen.show_reservation_number) %></td>
      <td><%= info_screen.info_screen_entities.where("#{InfoScreenEntityType.table_name}.active = true").active.map(&:instance_name).join(', ') %></td>
      <td><%= format_bool(info_screen.clock_header) %></td>
      <td><%= format_bool(info_screen.direction_char_visible) %></td>
      <td class="icons">
        <%= icon_link_to_edit([@organisation, info_screen]) %>
        <%= icon_link_to_destroy([@organisation, info_screen]) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @info_screens %>
<% end %>

<%= button_link_to_new([@organisation, InfoScreen]) %>