<div id="feedback-templates" style="display: none;">
  <div id="feedbackTextTemplate" class="feedback-text">
    <h2 id="open-feedback"><i class="icon-comment"></i><%= t('.open_feedback') %></h2>
    <p id="feedback-intro"><%= t('.feedback_intro') %></p>
    <textarea id="feedback-message"></textarea>
    <button id="next-feedback" class="feedback-button"><%= t('.next') %></button>
  </div>

  <div id="feedbackReviewTemplate" class="feedback-review">
    <h2 id="review-feedback"><i class="icon-preview"></i><%= t('.review_feedback') %></h2>
    <div class="feedback-screenshot-wrapper">
      <img id="screenshot_preview" src="" alt="screenshot" />
    </div>
    <div class="feedback-tech-info">
      <h3><%= t('.technical_info') %></h3>
      <p id="tech-info-summary"></p>
    </div>
    <p id="feedback-message-summary"><a class="icon icon-edit" id="edit_feedback_button" title="<%= t('.edit_feedback') %>" href="#"></a></p>

    <button id="send-feedback" class="feedback-button red"><%= t('.send') %></button>
  </div>
  <div id="feedbackStatusTemplate" class="feedback-status">
    <p id="creating_screenshot"><%=t('.creating_screenshot')%></p>
    <h2 id="feedback-success"><i class="icon-ok-sign green"></i><%= t('.feedback_success') %></h2>
    <h2 id="feedback-error"><i class="icon-remove-sign red"></i><%= t('.feedback_error') %></h2>
    <p id="feedback-success-explain"><%= t('.feedback_success_explain') %></p>
    <p id="feedback-error-explain"><%= t('.feedback_error_explain') %></p>
    <button id="close-feedback" class="feedback-button"><%= t('.close') %></button>
  </div>
</div>
