<% content_for :page_title do %><%= index_title(Feedback) %><% end %>

<% content_for :mini_search do %>
  <%= render 'layouts/mini_search', current_search_type: Feedback.model_name %>
<% end %>

<% if @feedbacks.empty? && params[:mini_search].present? %>
<p><%= t('empty_for_search', classes: Feedback.model_name.human(count: 2).lcfirst, search: sanitize(params[:mini_search], :tags=>[])).html_safe %>
<%= link_to(t('remove_search'), feedbacks_path()) %></p>
<% elsif @feedbacks.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: Feedback.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<%= paginate @feedbacks %>
<table>
  <thead>
    <tr>
      <%= table_head(Feedback, :screen_capture) %>
      <%= table_head(Feedback, :user) %>
      <%= table_head(Feedback, :organisation) %>
      <%= table_head(Feedback, :message) %>
      <%= table_head(Feedback, :specs) %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
    <tr>
      <td><%= name_link_to_show(feedback, { name: image_tag(feedback.screen_capture.icon.url) }) %></td>
      <td><%= name_link_to_show(feedback.user) if feedback.user.present? %></td>
      <td><%= name_link_to_show(feedback.organisation) if feedback.organisation.present? %></td>
      <td class="feedback_message"><p><%= feedback.message %></p></td>
      <td class="feedback_specs"><p><%= feedback.specs %></p></td>
      <td class="icons">
        <%= icon_link_to_destroy(feedback) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @feedbacks %>
<% end %>