<div class="entity_type_property">
  <h3><%= entity_type_property.name %></h3>
  <dl>
    <dt><%= EntityTypeProperty.human_attribute_name(:description) %></dt>
    <dd><%= entity_type_property.description %></dd>
    <% if entity_type_property.has_required? %>
    <dt><%= EntityTypeProperty.human_attribute_name(:required) %></dt>
    <dd><%= format_bool(entity_type_property.required) %></dd>
    <% end %>
    <dt><%= EntityTypeProperty.human_attribute_name(:data_type) %></dt>
    <dd title="<%= entity_type_property.data_type.human_description %>"><%= entity_type_property.data_type.human_name %></dd>
    <% if entity_type_property.has_options? %>
    <dt><%= EntityTypePropertyOption.model_name.human(count: 2) %></dt>
    <dd><%= entity_type_property.options.map(&:name).to_sentence %></dd>
    <% end %>
    <dt><%= EntityTypeProperty.human_attribute_name(:default_value) %></dt>
    <dd><%= format_text(entity_type_property.formatted_default_value) %></dd>
  </dl>
</div>