<div class="nested-object-wrapper">
  <div class="view clearfix">
    <div class="horizontal-block name">
      <div class="label"><%= EntityTypeProperty.human_attribute_name(:name) %></div>
      <div class="value"><%= entity_type_property.name %></div>
    </div>
    <div class="horizontal-block description">
      <div class="label"><%= EntityTypeProperty.human_attribute_name(:description) %></div>
      <div class="value"><%= entity_type_property.description %></div>
    </div>
    <div class="horizontal-block extra">
      <dl>
        <dt><%= EntityTypeProperty.human_attribute_name(:data_type) %></dt>
        <dd title="<%= entity_type_property.data_type.human_description %>"><%= entity_type_property.data_type.human_name %></dd>
        <% if entity_type_property.has_required? %>
        <dt><%= EntityTypeProperty.human_attribute_name(:required) %></dt>
        <dd><%= format_bool(entity_type_property.required) %></dd>
        <% end %>
        <% if entity_type_property.has_options? %>
        <dt><%= EntityTypePropertyOption.model_name.human(count: 2) %></dt>
        <dd><%= entity_type_property.options.map(&:name).to_sentence %></dd>
        <% end %>
        <dt><%= EntityTypeProperty.human_attribute_name(:default_value) %></dt>
        <dd><%= format_text(entity_type_property.formatted_default_value) %></dd>
      </dl>
    </div>
  </div>
</div>