<%= form_for(@sticky.localized) do |f| %>
  <%= render 'shared/error_messages', target: @sticky %>

  <div class="field">
    <%= f.label :stickable %>
    <%= f.text_field :stickable %>
  </div>
  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :sticky_text %>
    <%= f.text_area :sticky_text %>
  </div>
  <div class="field">
    <%= f.label :pos_x %>
    <%= f.text_field :pos_x %>
  </div>
  <div class="field">
    <%= f.label :pos_y %>
    <%= f.text_field :pos_y %>
  </div>
  <div class="field">
    <%= f.label :width %>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>