<%= render 'layouts/search' %>
<div id="menu-bar" class="clearfix">
  <div id="menu-secondary-area">
    <a id="open-feedback-button" class="button blue"><%= t('.feedback') %></a>
    <div id="user-info">
      <a id="current-user" href="#"><i class="icon-user"></i> <%= current_user.instance_name %><%= ' (' + current_organisation.instance_name + ')' if current_organisation.present? %></a>
      <div id="user-menu">
        <div class="section">
          <h2 class="user-menu-section-title"><%= t('.organisation') %></h2>
          <ul>
          <% if current_user.organisations.count > 1 %>
            <% current_user.organisations.each do |org| %>
              <li<%= current_organisation == org ? ' class="selected"'.html_safe : nil %>><%= link_to(content_tag(:i, nil, class: current_organisation == org ? 'icon icon-ok' : 'icon') + ' ' + org.instance_name, set_organisation_path(org))%></li>
            <% end %>
          <% end %>
          </ul>
        </div>
        <div class="section">
          <h2 class="user-menu-section-title"><%= t('.actions') %></h2>
          <ul>
            <li><%= link_to(content_tag(:i, '', class: 'icon icon-off') + ' ' + t('.logout'), destroy_user_session_path, method: :delete) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="menu-main-area">
    <%= link_to(home_index_path, class: 'logo-in-app') do %>
      <img src="<%= asset_path('logo_in_app.png') %>" />
    <% end %>
    <ul id="main-menu">
      <% menu.each_with_index do |(category_name, category_content), index| %>
      <%= content_tag(:li, id: "main-menu-item-#{index+1}", class: (category_matches?(category_name) ? "active" : nil)) do %>
        <% if category_content[:url].present? # No subitems %>
          <%= link_to((category_content[:name].present? ? category_content[:name] : t(".#{category_name}")), category_content[:url], category_content.except(:name, :url), { data: { shortcut_for: "#{category_name}" } }) %>
        <% else # With subitems %>
          <%= link_to(t(".#{category_name}"), '#', {data: {shortcut_for: "#{category_name}"}}) %>
        <% end %>
      <% end %>
      <% end %>
    </ul>
    <%= content_tag(:a, content_tag(:i, nil, class: 'icon-search'), id: 'open-search-button', class: (controller_name == 'search' ? 'open' : nil), href: '#') %>
  </div>
</div>