<%= render 'layouts/search' %>
<div id="menu-bar" class="clearfix">
  <ul id="main-menu">
    <% menu.each_with_index do |(category_name, category_content), index| %>
    <%= content_tag(:li, id: "main-menu-item-#{index+1}", class: (category_matches?(category_name) ? "active" : nil)) do %>
      <% if category_content[:url].present? # No subitems %>
        <%= link_to((category_content[:name].present? ? category_content[:name] : t(".#{category_name}")), category_content[:url], category_content.except(:name, :url), { data: { shortcut_for: "#{category_name}" } }) %>
      <% else # With subitems %>
        <%= link_to(t(".#{category_name}"), '#', {data: {shortcut_for: "#{category_name}"}}) %>
      <% end %>
    <% end %>
    <% end %>
  </ul>
  <%= content_tag(:a, content_tag(:i, nil, class: 'icon-search'), id: 'open-search-button', class: (controller_name == 'search' ? 'open' : nil), href: '#') %>
  <a id="open-feedback-button" class="button blue"><%= t('.feedback') %></a>
  <div id="user-info">
    <a id="current-user" href="#"><i class="icon-user"></i> <%= current_user.instance_name %><%= ' (' + current_organisation.instance_name + ')' if current_organisation.present? %></a>
    <ul id="user-menu">
      <% if current_user.organisations.count > 1 %>
        <% current_user.organisations.each do |org| %>
          <li><%= link_to(content_tag(:i, '', class: current_organisation == org ? 'icon icon-ok' : 'icon') + ' ' + org.instance_name, set_organisation_path(org))%></li>
        <% end %>
      <% end %>
      <li><%= link_to(content_tag(:i, '', class: 'icon icon-off') + ' ' + t('.logout'), destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>
</div>