<%= content_tag(:div, id: 'search-bar', class: (params[:global_search].present? ? 'open' : nil)) do %>
  <div class="inner">
    <%= form_tag(organisation_search_results_path(current_organisation), method: :get) do %>
      <%= text_field_tag(:global_search, params[:global_search], placeholder: t('.search_placeholder')) %>
      <%= select_tag(:global_search_type, options_for_select([OrganisationClient, Reservation, Entity, EntityType].map { |option| [option.model_name.human, option.to_s] }, params[:global_search_type]), prompt: t('.search_all')) %>
      <%= submit_tag(t('.search'), class: 'button red') %>
    <% end %>
  </div>
<% end %>