<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Cwic | IADA</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <script type="text/javascript">
      (function(h) { h.className = h.className.replace('no-js', 'js') })(document.documentElement)
    </script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "i18n/cwic/translations-#{I18n.locale}" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="controller-<%= controller_name %> action-<%= action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-current-user-id="<%= current_user.try(:id) %>" data-current-user-name="<%= current_user.try(:instance_name) %>" data-current-organisation-id="<%= current_organisation.try(:id) %>">
    <div id="header">
      <% if user_signed_in? %>
      <%= render "layouts/menu" %>
      <% end %>
    </div>
    <div id="progress-bar-container"></div>
    <h1>
      <%= content_for?(:page_title) ? yield(:page_title) : t('default_title') %>
    </h1>
    <div id="content">
      <div class="inner clearfix">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert"><%= alert %></p>
        <% end %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
      <%= render partial: 'shared/modal' %>
      <%= render partial: 'feedbacks/modal' %>
  </body>
</html>