<!DOCTYPE html>
<html>
  <head>
    <title>Cwic | IADA</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "i18n/translations-#{I18n.locale}" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="controller-<%= controller_name %> action-<%= action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <div id="header">
      <%= render "layouts/menu" %>
    </div>
    <h1>
      <!--<i class="icon-info-sign" style="font-size: 0.7em; vertical-align: 4%; margin: 0 0.5em 0 0;"></i>-->
      <%= content_for?(:page_title) ? yield(:page_title) : t('default_title') %>
    </h1>
    <div id="content">
      <div class="inner clearfix">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert"><%= alert %></p>
        <% end %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= render partial: 'feedback_and_screencaps/modal' %>
    <% end %>
  </body>
</html>