<!DOCTYPE html>
<html class="no-js">
  <head>
    <title><%= sanitize(content_for?(:page_title) ? yield(:page_title) : t('default_title'), tags: []) %> | Cwic</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "i18n/cwic/translations-#{I18n.locale}" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="controller-<%= controller_name %> action-<%= action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-current-user-id="<%= current_user.try(:id) %>" data-current-user-name="<%= current_user.try(:instance_name) %>" data-current-organisation-id="<%= current_organisation.try(:id) %>" data-current-locale="<%= I18n.locale %>">
    <div id="header">
      <% if user_signed_in? %>
      <%= render "layouts/menu" %>
      <% end %>
    </div>
    <div id="content-area">
      <div id="progress-bar-container"></div>
      <h1 id="page-title">
        <%= content_for?(:page_title) ? yield(:page_title) : t('default_title') %>
      </h1>
      <div id="content">
        <div class="inner clearfix">
          <% if notice %>
            <p id="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p id="alert"><%= alert %></p>
          <% end %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/modal' %>
    <%= render partial: 'feedbacks/modal' %>
  </body>
</html>