<!DOCTYPE html>
<html>
  <head>
    <title>Cwic | IADA</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <div id="menu-bar" class="clearfix">
        <% if current_user.present? %>
        <div id="user-info">
          <i class="icon-user"></i> <%= current_user.instance_name %><%= ' (' + current_organisation.instance_name + ')' if current_organisation.present? %>
        </div>
        <% end %>
        <ul id="main-menu">
          <li id="main-menu-item-1" class="active">
            <a href="#">Overzicht</a>
          </li>
          <li id="main-menu-item-2">
            <a href="#">Boekingen</a>
          </li>
          <li id="main-menu-item-3">
            <a href="#">Instellingen</a>
          </li>
          <li id="main-menu-item-4">
            <%= link_to(t('devise.sesssions.destroy.logout'), destroy_user_session_path, method: :delete) %>
          </li>
        </ul>
      </div>
      <div id="submenu-box" class="clearfix">
        <div class="submenu clearfix" data-main-menu-relation="main-menu-item-1">
          <h2>Overzicht</h2>
          <div class="submenu-block">
            <h3>goedemorgen</h3>
            <ul>
              <li>
                <a href="#">bla</a>
              </li>
            </ul>
          </div>
          <div class="submenu-block">
            <h3>goedemorgen</h3>
            <ul>
              <li>
                <a href="#">bla</a>
              </li>
            </ul>
          </div>
          <div class="submenu-block">
            <h3>goedemorgen</h3>
            <ul>
              <li>
                <a href="#">bla</a>
              </li>
            </ul>
          </div>
          <div class="submenu-block">
            <h3>goedemorgen</h3>
            <ul>
              <li>
                <a href="#">bla</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="submenu clearfix" data-main-menu-relation="main-menu-item-2">
          <h2>Boekingen</h2>
          <div class="submenu-block">
            <h3>hallo</h3>
            <ul>
              <li>
                <a href="#">blabla</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="submenu clearfix" data-main-menu-relation="main-menu-item-3">
          <h2>Instellingen</h2>
          <div class="submenu-block">
            <h3>hoi</h3>
            <ul>
              <li>
                <%= link_to(EntityType.model_name.human(count: 2), organisation_entity_types_path(current_organisation)) %>
              </li>
              <li>
                <%= link_to(Entity.model_name.human(count: 2), organisation_entities_path(current_organisation)) %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <h1>
      <!--<i class="icon-info-sign" style="font-size: 0.7em; vertical-align: 4%; margin: 0 0.5em 0 0;"></i>-->
      <%= content_for?(:page_title) ? yield(:page_title) : t('default_title') %>
    </h1>
    <div id="content">
      <div class="inner">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert"><%= alert %></p>
        <% end %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
  </body>
</html>
