<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Cwic</title>
    <%= stylesheet_link_tag "introduction", media: "all", "data-turbolinks-track" => true %>
    <%= jquery_include_tag :google %>
    <%= javascript_include_tag "introduction", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <div class="onepage-scroll">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
