<% content_for :page_title do %><%= index_title(ReservationRuleScope) %><% end %>

<% if @reservation_rule_scopes.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: ReservationRuleScope.model_name.human(count: 2).lcfirst) %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= ReservationRuleScope.human_attribute_name(:entity) %></th>
      <th><%= ReservationRuleScope.human_attribute_name(:name) %></th>
      <th><%= ReservationRuleScope.human_attribute_name(:repetition_unit) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservation_rule_scopes.each do |reservation_rule_scope| %>
    <tr>
      <td><%= name_link_to_show(reservation_rule_scope) %></td>
      <td><%= reservation_rule_scope.name %></td>
      <td><%= reservation_rule_scope.repetition_unit %></td>
      <td class="icons">
        <%= icon_link_to_edit(reservation_rule_scope) %>
        <%= icon_link_to_destroy(reservation_rule_scope) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= button_link_to_new(ReservationRuleScope) %>